.aside-container h1, .aside-container h2, .aside-container h3, .aside-container h4, .aside-container h5, .aside-container h6 { font-size: 100%; }
.aside-container h1 { margin-bottom: 1em; }
.aside-container p { margin: 1em 0; }
.aside-container a { color: #00a; }
.aside-container a:hover { color: #000; }
.aside-container a:visited { color: #a0a; }
.aside-container .header a { font-weight: bold; text-decoration: none; }
.aside-container .title { display: inline-block; margin-bottom: 2em; }
.aside-container .title a { color: #a00; }
.aside-container .title a:hover { color: #000; }
.aside-container .header a.extra { color: #aaa; margin-left: 1em; }
.aside-container .header a.extra:hover { color: #000; }
.aside-container .meta { color: #aaa; }
.aside-container .footer { font-size: 80%; color: #666; border-top: 4px solid #eee; margin-top: 2em; overflow: hidden; }
.aside-container .footer .contact { float: left; margin-right: 3em; }
.aside-container .footer .contact a { color: #8085C1; }
.aside-container .footer .rss { margin-top: 1.1em; margin-right: -.2em; float: right; }
.aside-container .footer .rss img { border: 0; }
