/**
  * global/layout
*/

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  // CAREFUL - This will cause document.scroll to not work. Scroll on body.scroll instead
  overflow-y: scroll; //intertia scrolling on iOS
  //-webkit-overflow-scrolling: touch;
  height: 100%;
}

.content-container {
  position: absolute;
  top: 0;
  width:100%;
  height: 100%;
  margin: 0 auto;
  //@include baseline-it(33, 140, 90, 90, 22, 1); //Baseline Grid for type testing
  @include breakpoint(I----I){
    max-width: 100%;
  }

  .post {
    padding: 0 $gutter-size 0 40px;
  }
}

.content-container .baseline {
  @include baseline-it(34, 100, 100, 100, 22, 0); //Baseline Grid for type testing
}

.contain-to-grid {
  background: $header-color;
}
