/* global/content/instruction */

/* Selectors
-------------------------------------- */
section {
		.annotation-container {
		  //position: absolute;
		  //transform: translate(-50%, -50%); //Allows for positioning from
		  //top:50%;
		  //bottom: 50%;
		  //left: 50%;
		  //right:50%;
		  width: 800;
		  height: 688px;
		  background: url('/assets/images/articles/fly.jpg') no-repeat;
		  //background-position: 50% 50%;
		  margin: 0 auto $gutter-size auto;
		  box-shadow: 0 0 260px 0px rgba(0,0,0,0.3);
		}
		

	.header {
	  position: absolute;
	  transform: translate(-50%, -50%); //Allows for positioning from
	  top: 50px;
	  left: 50%;
	  right:50%;
	  width: 1024px;
	  height:60px;
	  margin: 0 auto;
	  color: rgba(255, 255, 255, .8);
	  background: black;
	    
	  text-transform: uppercase;
	  .control-panel{
	    display: table;
	    li{
	      display: table-cell;
	      vertical-align: middle;
	      line-height: 60px;
	      padding: 0px 15px;
	      .toggle-annotations{
	        &:checked ~ span{
	          visibility:hidden;
	        }
	      }
	      .toggle-colors{
	        &:checked ~ span{
	          color: toggleColors();
	        }
	      }
	    }
	  }
	}

	// Endpoint Override
	// --------------------------------------- 
	section .endpoint {
	  background-color: #47E20A !important;
	}

	// Annotation Initialization
	// --------------------------------------- 
	.annotation-one p, .annotation-two p, .annotation-three p, .annotation-four p {
		font-size: 12px;
		line-height: 1.4em;
		font-weight: bold;
	}

	.annotation-one {
	  @include annotation(220, -80);
	}

	.annotation-two {
	  @include annotation(520, 60);
	}

	.annotation-three {
	  @include annotation(-50, 535);
	}

	.annotation-four {
	  @include annotation(385, 680);
	}


	/* Pointer Lines */
	.left {
	  @include pointer("left");
	}
	.left-up {
	  @include pointer("left-up");
	}
	.up-left {
	  @include pointer("up-left");
	}
	.up {
	  @include pointer("up");
	}
	.up-right {
	  @include pointer("up-right");
	}
	.right-up {
	  @include pointer("right-up");
	}
	.right {
	  @include pointer("right");
	}
	.right-down {
	  @include pointer("right-down");
	}
	.down-right {
	  @include pointer("down-right");
	}
	.down {
	  @include pointer("down");
	}
	.down-left {
	  @include pointer("down-left");
	}
	.left-down {
	  @include pointer("left-down");
	}

}