//
// global/content/posts

// ----------------------------------------------
// Articles/Posts
// ----------------------------------------------

// Headline, Subtitle and Cover
// ----------------------------------------------
// A background image is added to the header tag inline. You can set its properties here.
//
// Try playing with 2 stacked bkgs where the upper one fades and scrolls, to
// reveal a static bkg beneath it.
// Example:
// background-image: url("img1.png"), url("img2.png");
// background-attachment: scroll, fixed;

// Posts
  // --------------------------------------------
.post {
  height: 100%;

/*
  @include breakpoint(I---I) {
    overflow-y: scroll; //intertia scrolling on iOS
    -webkit-overflow-scrolling: touch;
  }
*/

  // Header
  // ------------------------------------------
  header {
    // Wrapper for positioning head and sub-head, since <header> is used for bkg
    .title {
      max-width: 768px;
      margin: 44px auto 18px auto;
      text-align: center;
      padding: $gutter-size;
    }

    h1,
    h2 {
      color: $body-headline-color;
      @include breakpoint(I-----I) {
        font-size: 2rem !important;
      }
    }

    p {
       @include breakpoint(I-----I) {
        font-size: 1.2rem !important;
      }
    }

    .meta {
      font-family: $body-font;
      font-size: .8rem !important;
      font-weight: normal;
    }
  }

  // Main Content
  // ------------------------------------------
  .article-content {
    position: relative;
    width: 100%;

    .paragraph-measure {
      max-width: 768px;
      margin: 0 auto;
    }

    p {
      letter-spacing: .013rem;
    }

    }
  }

  // Footer
  // ------------------------------------------
  footer {
    position: relative;
  }
}
