// Colors -- kuler.adobe.com/

// Color Scheme - Muted Teal Blue
$alert: #990000;
$foreground: #f3ff67;
$background: #353839;
$light: #547985;
$lightGray: #C3CED2;
$medium: #353839;
$mediumGray: #7C8385;
$dark: #344B52;


