/* global/sidebar/sidebar-wide */
@mixin sidebar-variant($variant:wide){
  background-color: $body-color-i;

  @if $variant == "wide" {

    // Wide Styles
    // ------------------------------------------
    /*
    &:hover:before {
      background: transparent;
      display: inherit;
      visibility: collapse;
      margin-bottom: -1em;
      opacity: 0;
      transition-delay: 0s, 250ms;
    }
    &:before {
      content: "";
      background: rgba(255,255,255,.8);
      position: absolute;
      left: 0;
      top: 0;
      width: 275px;
      height: 100%;
      z-index: 9999;
      transition-property: opacity, visibility;
      transition-duration: 250ms, 0s;
      transition-timing-function: ease-in-out, linear;
      opacity: 1;
    }
		*/

		.mobile-menu {
			display: none;
		}

    header {
      .avatar{
        display: none;
        overflow: hidden;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 100%;
        box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
      }
      h1 {
        font-weight: normal;
        font-family: $display-font;
        color: $light-gray;
        @include font-rhythm(3.5, 3.5, 0);
      }
    }

    p {
      font-family: $sans-serif-font !important;
      color: $font-color-i;
      margin: 1.5em 0;
      @include font-rhythm(.85);
    }

    a {
      font-family: $sans-serif-font !important;
      color: $link-color-i;
      @include font-size(.85);
      @include transition(color 0.1s linear);
      &:hover {
        color: lighten($link-color-i, 75%);
      }
      &:visited {
        color: $hover-link-color-i;
      }
    }

    section {
      color: $font-color-i;
      text-align: center;
      border-top: 1px solid $medium-blue;
      margin: 2em 0 0 0;
      overflow: hidden;
      @include font-size(.85);
      .contact {
        a {
          color: $link-color-i;
          font-family: $sans-serif-font !important;
          font-weight: normal;
          @include font-size(.85);
          @include transition(color 0.1s linear);
          &:hover {
            color: lighten($link-color-i, 10%);
          }
        }
      }
    }

  }@else if $variant == "narrow" {
    // Narrow Styles
    // ------------------------------------------

    vertical-align: middle;
    margin: 0 auto;

		// Mobile Menu
		.mobile-menu {
			position: absolute;
			display: inline-block;
			left: 0;
			top: 0;
			width: 60px;
			height:60px;
			ul {
				li {
					width: 60px;
					height:60px;
					a {
						color: white;
						@include font-rhythm(2, 2.5, 0);
					}
				}
			}
		}

    header{
      display: inline-block;
      .avatar{
        display: none;
        overflow: hidden;
        width: 40px;
        border-radius: 50%;
        line-height: 100%;
        box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.5);
        vertical-align: middle;
      }
      h1{
        display: inline-block;
        margin-left: 2rem;
        font-weight: normal;
        font-family: $display-font;
        color: $light-gray;
        @include font-rhythm(3.5, 3.5, 0);
      }
    }

    section{
      display: none;
    }

  }
}
