//
// ----------------------------------------------
// Home page and Profile Hero Unit
// ----------------------------------------------

.hero {
  background: rgba(0,0,0,0.9);
  height: 10%;
  .avatar-container {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border: 3px solid rgb(255, 255, 255);
    z-index: 500;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  }
  .avatar {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }
}
