/**
 * global/header/top-bar
 * Site specific overrides of the default Foundation Top Bar styles
 * Theme variables compiled in Gams
 *
 * Mobile Inspiration: http://getrefe.tumblr.com/
*/

.mobile-menu {
	display: none;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  z-index: 3;
  background: $header-color;
  height: 44px;
  padding: 0 $gutter-size !important;
  .title{
    float: left;
    .name {
      font-weight: normal;
      font-family: $sub-headline-font;
      color: $body-headline-color;
      @include font-rhythm(1.3);
      line-height: 44px;
    }
    // Top bar's drop shadow
    &:after {
      content: "";
      position: fixed;
      top: 42px;
      left: 0;
      width: 100%;
      height: 14px;
      z-index: -1;
      //@include vendor-prefix("radial-gradient","(gray 10%, transparent 65%)","background");
      background: radial-gradient(rgba(0,0,0,0.5), transparent 65%);
      background: -webkit-radial-gradient(rgba(0,0,0,0.5), transparent 65%);
      background: -moz-radial-gradient(rgba(0,0,0,0.5), transparent 65%);
      background-position: center top;
      background-origin: content-box;
      background-size: 100% 70%;
      background-repeat: no-repeat;
    }
  }

  .avatar{
    display: none;
    overflow: hidden;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    line-height: 100%;
    box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  }

  .links {
    float: right;
    li{
      display: inline-block;
      a {
        color: $header-font-color;
        &:hover:before{
          color: lighten($header-font-color, 20%);
        }
      }
    }
  }
}



