/**
 * global/header/top-bar
 * Site specific overrides of the default Foundation Top Bar styles
 * Theme variables compiled in Gams
 *
 * Mobile Inspiration: http://getrefe.tumblr.com/
*/

$top-bar-height: 44px;

.mobile-menu {
	display: none;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width:105%;
  height: $top-bar-height;
  z-index: 3;
  //background: $header-color;
  padding: 0 $gutter-size !important;

  .pull-tab{
    left: -44px;
    position: absolute;

    width: $top-bar-height;
    height: $top-bar-height;
    float: left;
    &:before{
      content: $fa-var-ellipsis-v;
      position: absolute;
      font-family: FontAwesome;
      color: white;
      width: $top-bar-height;
      height: $top-bar-height;
      left: $top-bar-height;
      line-height: $top-bar-height;
      margin-left: 34px;
      padding-left: 4px;
      //background: $header-color;
    }
  }

  .title{
    float: left;
    .name {
      font-weight: normal;
      font-family: $sub-headline-font;
      color: $body-headline-color;
      @include font-rhythm(1.3);
      line-height: $top-bar-height;
    }
  }

  .avatar{
    overflow: hidden;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    line-height: 100%;
    vertical-align: middle;
    box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  }

  .links {
    float: right;
    margin-right: $top-bar-height;
    li{
      display: inline-block;
      line-height: $top-bar-height;
      margin-right: $top-bar-height / 4;
      a{
        font-size: 24px;
        line-height: $top-bar-height;
        &:before{
          color: $link-color;
        }
        &:hover:before{
          color: lighten($header-font-color, 20%);
        }
      }
    }
  }

  // Top bar's drop shadow
  /*
  &:after {
    content: "";
    position: fixed;
    top: 42px;
    left: 0;
    width: 100%;
    height: 14px;
    z-index: -1;
    //@include vendor-prefix("radial-gradient","(gray 10%, transparent 65%)","background");
    background: radial-gradient(rgba(0,0,0,0.5), transparent 65%);
    background: -webkit-radial-gradient(rgba(0,0,0,0.5), transparent 65%);
    background: -moz-radial-gradient(rgba(0,0,0,0.5), transparent 65%);
    background-position: center top;
    background-origin: content-box;
    background-size: 100% 70%;
    background-repeat: no-repeat;
  }
  */
}



