{% comment %}
	@TODO: Dim on hover
{% endcomment %}

  <header>
    <a href='/index.html'>
      <!--<img src="/assets/images/headshot.png" border="0">-->
      <h1>Jason</h1>
    </a>
  </header>
  <!--
  <nav>
    <ul>
      <li><a href="/advanced-html-css/performance-organization"><strong>Menu 1</strong> Subtitle 1</li>
      <li><a href="/advanced-html-css/detailed-css-positioning"><strong>Menu 2</strong> Subtitle 2</a></li>
    </ul>
  </nav>
  -->
  <section class="about">
    <p>Jason Doyle is a designer, developer and Internet strategist living in Augusta, Georgia.</p>
  </section>

  <section>
    <div class="contact">
      <p>
        <i class="icon-entypo-github">&nbsp;</i><a href="https://github.com/mackdoyle" target="_blank" title="Jason Doyle's Github">github.com/mackdoyle</a><br />
        <i class="icon-entypo-pencil">&nbsp;</i><a href="https://codepen.io/mackdoyle" target="_blank" title="Jason Doyle's Codepen">codepen.com/mackdoyle</a><br />
      </p>
    </div>
  </section>

  <!-- Mobile Nav -->
  <nav class="mobile-menu">
    <ul class="inline">
    	<li><a href="/" title="Back to Home"><i class="icon-entypo-home"></i></a></li>
    </ul>
  </nav>
