---
layout: page
title: Categories
---
<!-- categories -->
{% for category in site.categories %}
<div>
	<h3>{{ category | first }}</h3>

	{% for posts in category %}
    {% for post in posts %}
      <article class="box">
        <header>
          <h1><a href="{{ post.url }}" title="{{ post.title }}">{{post.title}}</a></h1>
          <p class="meta"><i class="icon-entypo-user lighten">&nbsp;</i> {{ post.author }} &nbsp;&nbsp;<i class="icon-entypo-clock">&nbsp;</i> <time datetime="{{ post.date | date: '%B %d, %Y' }}" title="{{ post.date | date: '%B %d, %Y' }}">{{ post.date | date: '%B %d, %Y' }}</time></p>
        </header>
		    {{ post.excerpt }}
		  </article>
    {% endfor %}
	{% endfor %}
</div>
{% endfor %}



