---
layout: default
title: Jason Doyle
---


{% for post in site.posts %}
  <article class="teaser">
    <header>
		  <h1><a href="{{post.url}}" title="Read more about '{{ post.title }}'">{{ post.title }}</a></h1>
		  <p class="meta"><i class="icon-entypo-user lighten-text">&nbsp;</i> {{ post.author }} &nbsp;&nbsp;<i class="icon-entypo-clock">&nbsp;</i> <time datetime="{{ post.date | date: '%B %d, %Y' }}" title="{{ post.date | date: '%B %d, %Y' }}">{{ post.date | date: '%B %d, %Y' }}</time></p>
    </header>

    <div class="article-hero">
      <img style="margin-bottom:26px" src="{{post.image}}">
    </div>

    <div class="article-teaser-content">
      {{ post.excerpt | markdownify }}
    </div>

    <footer>
		  {% if post.categories.size > 0 %}
		    <div class="footer-col">{% include widgets/postCategoryList.html %}</div>
		  {% endif %}
      {% if post.tags.size > 0 %}
        <div class="footer-col">{% include widgets/postTagList.html %}</div>
      {% endif %}
      <div class="footer-col"><div class="more"><a href="{{ post.url }}#more" title="Read more about '{{ post.title }}'">Read More</a></div></div>
    </footer>

	</article>

	<!--<hr>-->
{% endfor %}
