/**
 * Baseline It
 * Adds visible lines to the background for typography positioning.
 *
 * Usage:
 * 1. Pass the height you want the grid and the RGB color value on the url.
 * 2. An optional offset value can be passed to compensate for padding or margins that effect the starting point.
 * 3. While testing, you can click anywhere on the element to hide the baseline grid
 *
 * Example: basehold.it/i/[LINE HEIGHT]/[RED]/[GREEN]/[BLUE]
 * Further usage instructions can be found at basehold.it
*/


@mixin baseline-it($height:24, $red:0, $green:0, $blue:0, $offset:0) {
  background-image: url('http://basehold.it/i/'+$height+'/'+$red+'/'+$green+'/'+$blue+''); // baseline grid at 36px with RGB colored lines
  background-position-y: $offset * 1px;
  &:active{
    background-image: inherit;
  }
}