// Muted Teal Blue Theme
// This file holds the main Scss variables for the site. It is simply a typical _variables
// partial but given a descriptive name so multiple versions can be swapped for easily
// changing the general theme settings

// Typography
// --------------------------------------------------------------------------------- *
  $sans-serif-font: "Open Sans", "Helvetica Neue", sans-serif;
  $serif-font: "Droid Serif", serif;
  $monospace-font: "Monaco", "Menlo", monospace;
  $logo-font: "Oswald", "Lucida Grande", "Helvetica Neue", sans-serif;
  $icon-font: "FontAwesome";

// Sizes
// --------------------------------------------------------------------------------- *
  $border-radius: em(3);
  $line-height: 36px;

// Colors
// --------------------------------------------------------------------------------- *
// Base Colors
  $foreground: #fdfdff;
  $background: #353839;
  $alert: #FBE3E4;
  $notice: #FFF6BF;
  $success: #E6EFC2;
  $lightest-blue: #87c6dc;
  $light-blue: #086BB8;
  $medium-blue: #46545F;
  $dark-blue: #344B52;
  $light-gray: #C3CED2;
  $medium-gray: #7C8385;
  $dark-gray: #3d4244;

// Body Color
// -------------------------- *
  $body-color: $foreground;
  $body-color-i: $background;

// Font Colors
// -------------------------- *
  $copy-color: $medium-blue;
  $copy-color-i: $light-gray;
  $headline-color: $dark-blue;
  $headline-color-i: $light-gray;
  $accent-color: $medium-gray;

// Text Link Colors
// -------------------------- *
  $link-color: $light-blue;
  $link-color-i: $lightest-blue;
  $hover-link-color: darken($link-color, 15);
  $hover-link-color-i: darken($link-color-i, 15);

// Border color
// -------------------------- *
  $border-color: $light-gray;

// Flash Colors
// -------------------------- *
  $error-color: $alert;
  $notice-color: $notice;
  $success-color: $success;

// Layout Variables
// --------------------------------------------------------------------------------- *
// Spacing
// -------------------------- *
  $gutter-size: 15px;
  $content-padding: 0 $gutter-size;

// Forms
// -------------------------- *
  $form-border-color: $border-color;
  $form-border-color-hover: darken($border-color, 10);
  $form-border-color-focus: $accent-color;
  $form-border-radius: $border-radius;
  $form-box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
  $form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
  $form-font-size: 100%;
  $form-font-family: $sans-serif-font;


// Example grid cal from Compass Blueprint
// Use this to calculate the width based on the total width.
// $blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

