/**
 * global/header/top-bar
 * Site specific overrides of the default Foundation Top Bar styles
 * Theme variables compiled in Gams
 *
 * Mobile Inspiration: http://getrefe.tumblr.com/
*/

.mobile-menu {
	display: none;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  //box-shadow: 0px 0px 8px rgba(0,0,0,0.9);
  // Top bar's drop shadow
  &:after {
    content: "";
    position: fixed;
    top: 42px;
    left: 0;
    width: 100%;
    height: 14px;
    //@include vendor-prefix("radial-gradient","(gray 10%, transparent 65%)","background");
    background: radial-gradient(rgba(0,0,0,0.5), transparent 65%);
    background: -webkit-radial-gradient(rgba(0,0,0,0.5), transparent 65%);
    background: -moz-radial-gradient(rgba(0,0,0,0.5), transparent 65%);
    background-position: center top;
    background-origin: content-box;
    background-size: 100% 70%;
    background-repeat: no-repeat;
    z-index: -1;
  }
}


.top-bar {
  max-width: 100% !important;
  background: $header-color;
  height: 44px;
  margin: 0 $gutter-size !important;
  .avatar{
    display: none;
    overflow: hidden;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    line-height: 100%;
    box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  }
  .name {
    font-weight: normal;
    font-family: $sub-headline-font;
    color: $body-headline-color;
    @include font-rhythm(1.3);
    line-height: 44px;
  }

  p {
    font-family: $body-font !important;
    color: $aside-font-color;
    margin: 1.5em 0;
    @include font-rhythm(.85);
  }
}

.top-bar-section ul li{
  background: transparent;
  >a {
    width: inherit;
    padding: inherit;
    padding-left: inherit;
  }
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: transparent;
  font-size: inherit;
  &:before {
    color: rgba(255,255,255,0.7);
    font-size: 1.2rem;
  }
  &:hover{
    background: transparent;
  }
  &:hover:before{
    background: transparent;
    color: white;
  }
}



.top-bar-section li:not(.has-form) a:not(.button) {
  background: $header-color;
}
