/**
 * Font-size and line-height Mixin
 * This mixin will include a rem-based font-size and standard x1.5 line-height
 * properties as well as px based fall backs for crapo browsers
 *
 * @param $size - the rem value you want to evaluate
 * @param $line - Optional. The value in pixels you want to convert
 *
 * @TODO: Line-height perfection is achieved by adding the width of the line
 * to the equation. This mixin could be improved by changing the line-height
 * for various standard paragraph widths. See: http://www.pearsonified.com/typography/
 */

@mixin font-size($size: 1, $line: 1.5){
  font-size     : ($size * 16) + px !important;
  line-height   : ($line * 16) + px;
  font-size     : $size + rem  !important;
  line-height   : $line;
}

/* Usage
 * p {
 *   @include font-size(2, 3);
 * }

 * Results In...
 * p {
 *   font-size: 32px;
 *   line-height: 48px;
 *   font-size: 2rem;
 *   line-height: 3;
 * }
 */