<aside>
  <h1><a href='/index.html'><span>Jason Doyle</span></a></h1>
  <img class="avatar" src="/assets/images/headshot.png" border="0">
  <nav>
    <ul>
      <li><a href="/advanced-html-css/performance-organization"><strong>Menu 1</strong> Subtitle 1</li>
      <li><a href="/advanced-html-css/detailed-css-positioning"><strong>Menu 2</strong> Subtitle 2</a></li>
    </ul>
  </nav>

  <p>lorem ipsem</p>

  <div class="contact">
    <p>
      <a href="https://github.com/mackdoyle">github.com/mackdoyle</a><br />
      <a href="https://codepen.com/mackdoyle">codepen.com/mackdoyle</a><br />
    </p>
  </div>

</aside>