{% comment %}
	@TODO: Dim on hover
{% endcomment %}

  <header>
    <a class="avatar" href='/index.html'><img src="/assets/images/headshot.png" border="0"></a>
    <h1>Jason Doyle</h1>
  </header>
  <!--
  <nav>
    <ul>
      <li><a href="/advanced-html-css/performance-organization"><strong>Menu 1</strong> Subtitle 1</li>
      <li><a href="/advanced-html-css/detailed-css-positioning"><strong>Menu 2</strong> Subtitle 2</a></li>
    </ul>
  </nav>
  -->

  <p>Jason Doyle is a designer, developer and Internet strategist living in Augusta, Georgia.</p>

  <section>
    <div class="contact">
      <p>
        <a href="https://github.com/mackdoyle" target="_blank" title="Jason Doyle's Github">github.com/mackdoyle</a><br />
        <a href="https://codepen.com/mackdoyle" target="_blank" title="Jason Doyle's Codepen">codepen.com/mackdoyle</a><br />
      </p>
    </div>
  </section>
