{% comment %}
	Thin top bar
	@reference: http://foundation.zurb.com/docs/components/topbar.html
{% endcomment %}


<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <a href="#">Jason Doyle</a>
    </li>
     {% comment %}<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
    {% endcomment %}
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="https://github.com/mackdoyle" target="_blank" title="Github" class="st-icon-github st-shape-icon"></a></li>
      <li><a href="https://codepen.com/mackdoyle" target="_blank" title="Codepen" class="st-icon-codepen st-shape-icon"></a></li>
    </ul>

    {% comment %}
    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
    {% endcomment %}
  </section>
</nav>

