{% comment %}
	Thin top bar
	@reference: http://foundation.zurb.com/docs/components/topbar.html
{% endcomment %}


<nav class="top-bar">
  <div class="pull-tab"></div>
  <ul class="title">
    <li class="name">
      <a href="./">Jason Doyle</a>
    </li>
  </ul>

  <ul class="links">
    <li><a href="https://github.com/mackdoyle" target="_blank" title="Github" class="fa fa-github"></a></li>
    <li><a href="https://codepen.com/mackdoyle" target="_blank" title="Codepen" class="fa fa-codepen"></a></li>
  </ul>
</nav>

