.top-bar {
	min-height: 30px;
    padding: 10px 0;
}

header.style-2 .top-bar {
	min-height: 4px;
	padding:0;
}

header.style-2 .down-button {
	display:none !important;
}

header .search form {
	margin:30px 0;
}

header.style-3.style-5 .navigation > #nav {
	display:inline-block;
	float:none;
	margin-bottom:-4px;
}

header.style-3.style-5 .down-header {
	min-height:66px;
}

// header sticky fixed
header.fixed .sticky-wrapper.is-sticky .main-header, header.fixed .sticky-wrapper.is-sticky .down-header {
	position:relative;
	z-index:1000;
	width: 100%;
	-moz-box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px #888;
    box-shadow: 0 0 3px #888;
}

// navigation menu
#nav {
	margin-top:-4px;
}

header.style-3 #nav {
	margin-top:-1px;
}

#menu > a {
	display: none;
}

i.icon-angle-down.responsive {
	display:none;
}

.down-button {
	text-align:center;
	display:none;
}

.navigation ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.navigation ul li{
	position: relative;
	display: inline;
	margin-left:4px;
	text-transform:uppercase;
}

header.style-3 .navigation ul li {
	margin-right:4px;
	margin-left:0;
}

.navigation ul li a{
	display: block;
	padding: 48px 15px 42px 15px;
}

header.style-3 .navigation ul li a {
	padding: 28px 20px 22px 20px;
}

* html .navigation ul li a{
	display: inline-block;
}

.navigation ul li ul li a {
	border-top:0 !important;
}

.navigation ul li ul {
	top:110px  !important;
}

header.style-3 .navigation ul li ul {
	top:67px  !important;
}

.navigation ul li ul li ul, header.style-3 .navigation ul li ul li ul {
	top:0px !important;
}

.navigation ul li ul{
	position: absolute;
	left: 0;
	display: none;
	visibility: hidden;
}

.navigation ul li ul li{
	display: list-item;
	float: none;
	margin-left:0;
	text-transform: capitalize;
}

.navigation ul li ul li ul{
	top: 0;
}

.navigation ul li ul li a, header.style-3 .navigation ul li ul li a {
	width: 160px;
	padding: 13px 10px;
	margin: 0;
}

* html .navigation{height: 1%;}

.rightarrowclass{
	position: absolute;
	top: 18px;
	right: 10px;
}

.downarrowclass{
	position: absolute;
	top: 12px;
	right: 7px;
	display:none;
}

@media only screen and (max-width: 768px) {

  .main-header .two-thirds.column {
  	float:right;
  }

  #menu {
  	top: auto;
  	left: auto;
  	position:relative;
  }

  #menu > a {
  	width: 40px;
  	height: 40px;
  	position: relative;
  	float: right;
  	margin-top: 33px;
  	font-size:0px;
  }

  header.style-3 #menu > a {
  	float: none;
  	margin: 10px auto;
  }

  #menu > a:before, #menu > a:after {
  	position: absolute;
  	top: 35%;
  	left: 25%;
  	right: 25%;
  	content: '';
  }

  #menu > a:after {
  	top: 60%;
  }

  #menu:not( :target ) > a:first-of-type, #menu:target > a:last-of-type {
  	display: block;
  }

  i.icon-angle-down.responsive {
  	display: inline-block;
  	float:right;
  }

  img.rightarrowclass {
  	display:none;
  }

  /* first level */
  #menu > ul {
  	height: auto;
  	display: none;
  	position: absolute;
  	right: 0;
  	top: 83px;
  	min-width: 65%;
  	z-index:999;
  }

  header.style-3 #menu > ul {
  	right: 15%;
  	top: 51px;
  }

  #menu > ul > li {
  	width: 100%;
  }

  #menu > ul > li > a,
  #menu > ul > li > ul > li > a,
  #menu > ul > li > ul > li > ul > li > a,
  #menu > ul > li > ul > li > ul > li > ul > li > a
  {
  	height: auto;
  	text-align: left;
  	display: block;
      padding: 13px 10px;
  }

  #menu > ul > li:not( :last-child ) > a {
  	border-right: none;
  }

  /* second level */
  #menu li ul, #menu li ul li ul, #menu li ul li ul li ul {
  	position: static;
  	padding: 0 15px;
  	width:87% !important;
  }

  header.style-3 #menu li ul, #menu li ul li ul, #menu li ul li ul li ul {
  	width:93% !important;
  }
}
