/* global/layout */

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 275px;
  height: 100%;
  padding: $gutter-size;
  margin: 0 auto;
  text-align: center;
}

.content-container {
  position: fixed;
  overflow: auto;
  padding: $gutter-size;
  margin-left: 305px; //Spacing for aside 275px + 30px padding
  width: auto;
  height: 100%;
  background: $foreground;
}