{% include header.html %}

  <!-- {% include hero.html %} -->

<div class="cullaz">
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
  <div class="swatch"></div>
</div>

  <section class="content-container">
    {{ content }}
  </section>

{% include footer.html %}
