.pull-tab{
  left: -44px;
  position: absolute;
  width: $top-bar-height;
  height: $top-bar-height;
  float: left;
  &:before{
    content: $fa-var-ellipsis-v;
    position: absolute;
    font-family: FontAwesome;
    color: white;
    width: $top-bar-height;
    height: $top-bar-height;
    left: $top-bar-height;
    line-height: $top-bar-height;
    margin-left: 34px;
    padding-left: 4px;
    //background: $header-color;
  }
}