/* Typography
---------------------------------------------- */
body {
  font-family: $serif-font;
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: .01rem;
  color: $copy-color;
  -webkit-font-smoothing: antialiased;
  @include font-size(1);
}

h1, h2, h3, h4, h5, h6, h1 a {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: $sans-serif-font;
  font-weight: bold;
  color: $headline-color;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  @include font-size(2.25);
}

h2 {
  @include font-size(2); // 2 * 16 = 32px
}

h3 {
  @include font-size(1.5);
}

h4 {
  @include font-size(1.25);
}

h5 {
  @include font-size(1); // 1 * 16 = 16px
}

h6 {
  @include font-size(1);
}

p {
  @include font-size(1.15, 1.7);
  @include margin-bottom();
}

a {
  color: $link-color;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color: $hover-link-color;
  }
  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

abbr, acronym {
  border-bottom: 1px dotted $border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($line-height / 2);
}

hgroup {
  @include margin-bottom();
}

del {
  color: lighten($copy-color, 15);
}

blockquote {
  border-left: 2px solid $border-color;
  color: lighten($copy-color, 15);
  margin: $line-height 0;
  padding-left: $line-height / 2;
}

cite {
  color: lighten($copy-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}
