/* global/sidebar/sidebar */

.sidebar-container{
  background-color: $body-color-i;
  h1 {
    @include font-size(1.2);
    font-weight: normal;
    font-family: $sans-serif-font !important;
    color: $headline-color-i;
  }

  p {
    font-family: $sans-serif-font !important;
    color: $copy-color-i;
    margin: 1.5em 0;
    @include font-size(.85);
  }

  a {
    font-family: $sans-serif-font !important;
    color: $link-color-i;
    @include font-size(.85);
    @include transition(color 0.1s linear);
    &:hover {
      color: $hover-link-color-i;
    }
    &:visited {
      color: $hover-link-color-i;
    }
  }

  .avatar{
    width: 150px;
    height: 150px;
    border-radius: 150px;
  }

  section {
    @include font-size(.85);
    color: $copy-color-i;
    text-align: center;
    border-top: 1px solid $medium-blue;
    margin-top: 2em;
    overflow: hidden;
    .contact {
      a {
        color: $link-color-i;
        font-family: $sans-serif-font !important;
        font-weight: normal;
        @include font-size(.85);
        @include transition(color 0.1s linear);
      }
    }
  }
}
