
/* Code
---------------------------------------------- */

/* Standard
-------------------------- */
pre {
  overflow: auto;
  padding: 2.25rem .4rem;
}

p code {
  font-family: $monospace-font;
  font-size: 90%;
}

pre code {
  font-family: $monospace-font;
  border: none;
}

/* Terminal
-------------------------- */
pre.terminal {
  border: 1px solid #000;
  background-color: #151617;
  color: #FFF;
}

pre.terminal code {
  background-color: #151617;
}