/**
 * Font-size and line-height Mixin
 * This mixin will include a rem-based font-size and standard x1.5 line-height
 * properties as well as px based fall backs for crapo browsers
 *
 * @param $size - the rem value you want to evaluate
 * @param $line - Optional. line-height value
 *
 * @TODO: Line-height perfection is achieved by adding the width of the line
 * to the equation. This mixin could be improved by changing the font-size and line-height
 * for various standard paragraph widths. See: http://www.pearsonified.com/typography/
 */

@mixin font-size($size: 1, $line-height: 1.5){
  font-size     : ($size * 16) * 1px !important;
  line-height   : ($line-height * 16) * 1px;
  font-size     : $size * 1rem  !important;
  line-height   : $line-height * 1rem;
}

/* Usage
 * p {
 *   @include font-size(2, 2.5);
 * }

 * Results In...
 * p {
 *   font-size: 32px;
 *   line-height: 48px;
 *   font-size: 2rem;
 *   line-height: 2.5rem;
 * }
 *
 * Did you Know?
 * Appending the sizing type by multiplying it by 1 rather than adding it,
 * leaves the value's data type as a number. This means it can still be used in math operations.
 * Example:
 *    16 + px = "16px"
 *    16 * 1px = 16(px)
 */