/**
 *
 * Site Specific Global Style
 *
*/
body {
	background: $body-color;
}

hr {
  border-bottom: 1px solid $border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $line-height 0;
}

img {
  margin: 0;
  width:100%;
  max-width: 100%;
}

.inline-list {
  li{
	  display: inline-block;
	  text-align: justify;
	  vertical-align: middle;
  }
}

.lighten-text{
  color: lighten($body-font-color, 20);
}

.darken-text{
  color: darken($body-font-color, 20);
}