/**
  * global/layout
  * Mobile Inspiration: http://getrefe.tumblr.com/
*/

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 275px;
  height: 100%;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  @include breakpoint(I----I){
    position: relative;
    padding: 10px;
    width: 100%;
    height: 80px;
  }
}

.content-container {
  position: relative;
  width:100%;
  height: 100%;
  margin: 0 auto;
  //@include baseline-it(36, 240, 190, 190, 15, 0); //Baseline Grid for type testing
  @include breakpoint(I----I){
    padding: $gutter-size 0;
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }

  .article-content,
  .article-teaser-content,
  footer {
    @include breakpoint(I----I){
      padding: 0 $gutter-size;
    }
  }
}

.content-container.draft {
  @include baseline-it(36, 240, 190, 190, 15, 1); //Baseline Grid for type testing
}

.contain-to-grid {
  background: $header-color;
}
