/**
  * global/layout
  * Mobile Inspiration: http://getrefe.tumblr.com/
*/

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  // CAREFUL - This will cause document.scroll to not work. Scroll on body.scroll instead
  overflow-y: scroll; //intertia scrolling on iOS
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 275px;
  height: 100%;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  @include breakpoint(I----I){
    position: relative;
    padding: 10px;
    width: 100%;
    height: 80px;
  }
}

.content-container {
  position: relative;
  width:100%;
  margin: 0 auto;
  //@include baseline-it(33, 140, 90, 90, 22, 1); //Baseline Grid for type testing
  @include breakpoint(I----I){
    padding: $gutter-size 0;
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    height:100%;
  }

  .article-content,
  .article-teaser-content,
  footer {
    @include breakpoint(I----I){
      padding: 0 $gutter-size;
    }
  }
}

.content-container .baseline {
  @include baseline-it(34, 100, 100, 100, 22, 0); //Baseline Grid for type testing
}

.contain-to-grid {
  background: $header-color;
}
