//
 // global/content/teasers
 //
 // @Idea: play with slowly wiggling headline text when displayed over a full screen image.
 // Something so slight the viewer isn"t quite aware of it. I think this might trick the eye to
 // see a floating parallax effect like on iOS.
 //


//
//Orange to Pink
//rgba(255,83,13,1); rgba(232,44,12,1); rgba(255,0,0,1); rgba(232,12,122,1); rgba(255,13,255,1)

//Red to Blue
//rgba(255,4,51,1); rgba(231,3,160,1); rgba(229,9,254,1); rgba(146,3,231,1); rgba(92,4,255,1)

// ----------------------------------------------
// Article/Post Teasers
// ----------------------------------------------
$num-swatches: 5;


//Background Variants
@include analogous-colors('.teaser', $base-color, $num-swatches, 10, 'reverse'); //class name, property name. starting color, iteration count, color shift amount, direction

//Start teaser as a solid color and fade into another while fading in title
article.swatch-* {

}

// Teaser block styles
// -----------------------------------
.teaser {

  header {
    position: relative;
    width: 100%;

    // Wrapper for positioning head and sub-head, since <header> is use for bkg
    .title {
      text-align: center;
      padding: $gutter-size;
      h1,
      h2 {
      @include breakpoint(I---I){
        font-size: 75%;
      }
        a {
          color: white;
          &:hover {

          }
        }
      }

      .more {
        text-align: right;
        a {
          position: relative;
          text-decoration: none;
          white-space: nowrap;
          @include gams-button($button-color, "default", $button-font-color);
        }
      }

      .meta {
        font-family: $body-font;
        font-weight: normal;
      }
    }
  }

  .article-teaser-content {
    padding: $gutter-size;
  }

  footer {
    display: table;
    vertical-align: middle;
    width:100%;
    .footer-col {
      display: table-cell;
    }
  }


  // Category List
  .category-list-container {
    .categories {
      font-size: 12px;
      line-height: 16px;
      vertical-align: middle;
      li:not(.first) {
        a {
          @include gams-pillbox($tag-color, "default", $tag-font-color);
        }
      }
    }
  }
}

