//
 // global/content/teasers
 //
 // @Idea: play with slowly wiggling headline text when displayed over a full screen image.
 // Something so slight the viewer isn"t quite aware of it. I think this might trick the eye to
 // see a floating parallax effect like on iOS.
 //


//
//Orange to Pink
//rgba(255,83,13,1); rgba(232,44,12,1); rgba(255,0,0,1); rgba(232,12,122,1); rgba(255,13,255,1)

//Red to Blue
//rgba(255,4,51,1); rgba(231,3,160,1); rgba(229,9,254,1); rgba(146,3,231,1); rgba(92,4,255,1)

// ----------------------------------------------
// Article/Post Teasers
// ----------------------------------------------




@mixin color-shift ($name, $color-a, $color-b, $color-c, $color-d, $color-e, $delay: 0) {
  animation-name: $name; 
  animation-timing-function: ease-in; 
  animation-fill-mode: forwards;
  animation-duration:3s;  
  animation-iteration-count:1; 

  -webkit-animation-name: $name;
  -webkit-animation-timing-function: ease-in; 
  -webkit-animation-fill-mode: forwards; 
  -webkit-animation-duration:3s;  
  -webkit-animation-iteration-count:1; 
}

@mixin color-shift-frames ($name, $color-a, $color-b, $color-c, $color-d, $color-e) {
  @keyframes $name {
    0% {background-color: white;} 
    20% {background-color: $color-a;} 
    40% {background-color: inverse($color-b);} 
    60% {background-color: $color-c;} 
    80% {background-color: $color-d;} 
    100% {background-color: $color-e;} 
  } 

  @-webkit-keyframes $name { 
    0% {background-color: white;} 
    20% {background-color: $color-a;} 
    40% {background-color: inverse($color-b);} 
    60% {background-color: $color-c;} 
    80% {background-color: $color-d;} 
    100% {background-color: $color-e;} 
  }
}

@-webkit-keyframes pulsate {
    0% {background: black}
    20% {background: red}
    40% {background: blue}
    60% {background: orange}
    80% {background: green}
    100% {background: black}
}
@-moz-keyframes pulsate {
    0% {background: black}
    20% {background: red}
    40% {background: blue}
    60% {background: orange}
    80% {background: green}
    100% {background: black}
}
@keyframes pulsate {
    0% {background: black}
    20% {background: red}
    40% {background: blue}
    60% {background: orange}
    80% {background: green}
    100% {background: black}
}

// Define Keyframes for color fade in
@include color-shift-frames("color-shift", "rgba(255,83,13,1)", "rgba(232,44,12,1)", "rgba(255,0,0,1)", "rgba(232,12,122,1)", "rgba(255,13,255,1)");

//Background Variants
//Start teaser as a solid color and fade into another while fading in title
article.swatch-a {
  background: rgba(255,83,13,1);
  @include color-shift("color-shift", "rgba(255,83,13,1)", "rgba(232,44,12,1)", "rgba(255,0,0,1)", "rgba(232,12,122,1)", "rgba(255,13,255,1)");

  .article-content {
    p {
      color: $body-font-color;
    }
  }
}

article.swatch-b {
  background: rgba(232,44,12,1);
  @include color-shift("color-shift", "rgba(232,44,12,1)", "rgba(255,0,0,1)", "rgba(232,12,122,1)", "rgba(255,13,255,1)", "rgba(255,83,13,1)");
  
  .article-content {
    p{
      color: $body-font-color;
    }
  }
}

article.swatch-c {
  background: rgba(255,0,0,1);
  
  .article-content {
    p{
      color: $body-font-color;
    }
  }
}

article.swatch-d {
  background: rgba(232,12,122,1);
  
  .article-content {
    p {
      color: $body-font-color;
    }
  }
}

article.swatch-e {
  background: rgba(255,13,255,1);
  
  .article-content {
    p {
      color: $body-font-color;
    }
  }
}

// Teaser block styles
// -----------------------------------
.teaser {
 
  header {
    position: relative;
    width: 100%;

    // Wrapper for positioning head and sub-head, since <header> is use for bkg
    .title {
      text-align: center;
      padding: $gutter-size;
      h1, 
      h2 {
        a {
          &:hover {
            text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
          }
        }
      }
      .more {
        text-align: right;
        a {
          position: relative;
          text-decoration: none;
          white-space: nowrap;
          @include gams-button($button-color, "default", $button-font-color);
        }
      }
      .meta {
        font-family: $body-font;
        font-weight: normal;
      }
    }
  }

  .article-teaser-content {
    padding: $gutter-size;
  }

  footer {
    display: table;
    vertical-align: middle;
    width:100%;
    .footer-col {
      display: table-cell;
    }
  }


  // Category List
  .category-list-container {
    .categories {
      font-size: 12px;
      line-height: 16px;
      vertical-align: middle;
      li:not(.first) {
        a {
          @include gams-pillbox($tag-color, "default", $tag-font-color);
        }
      }
    }
  }
}

