/* global/content/teasers */


// ----------------------------------------------
// Article/Post Teasers
// ----------------------------------------------

article.light{
 background: $body-color;
 .article-content{
   p{
     color: $body-font-color;
   }
 }
}

article.dark-blue{
  background: $dark-blue;
  .article-content{
    p{
     color: invert($body-font-color);
    }
  }
}

article.dark-gray{
  background: $dark-gray;
  p{
   color: invert($body-font-color);
  }
}

.teaser{
  header{
    position: relative;
    width: 100%;
    height: 520px;
    text-align: center;
    background-size: initial;
    background-repeat: no-repeat;
    background-position: top center;
    //background-attachment: fixed;
    //Vignette
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: radial-gradient(rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.7));
    }
    // Wrapper for positioning head and sub-head, since <header> is use for bkg
    .title {
      position: absolute;
      z-index: 2;
      max-width: 768px;
      //margin: 15% auto 0 auto; //without slant
      margin: 10% auto 0 auto; //with slant
      text-align: left;
      padding: $gutter-size;
    }

    h1, h2{
      text-shadow: 0px 0px 12px  rgba(invert($body-headline-color), 0.5);
      a{
        @include transition(all .25s ease-in-out);
        &:hover{
          text-shadow: 0px 0px 5px rgba(0,0,0,0.2);
        }
      }
    }
    .meta{
      font-family: $body-font;
      font-weight: normal;

      &:before{
        content: "";
      }
      &:after{
        content: "";
      }
    }
  }

  .article-teaser-content{
    padding: $gutter-size;
  }

  footer{
    display: table;
    vertical-align: middle;
    width:100%;
    .footer-col{
      display: table-cell;
    }
  }

  .more{
    text-align: right;
    a{
      position: relative;
      text-decoration: none;
      white-space: nowrap;
      @include gams-button($button-color, "default", $button-font-color);
    }
  }

  // Category List
  .category-list-container{
    .categories{
      font-size: 12px;
      line-height: 16px;
      vertical-align: middle;
      .first{

      }
      li:not(.first){
        a{
          @include gams-pillbox($tag-color, "default", $tag-font-color);
        }
      }
    }
  }

  // Tag List
  .tag-list-container{
    .inline-list tags{

    }
  }
}


// Syntax
.highlight{
  margin: ($baseline-height * 1rem) auto;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

// Teaser Seperator
.seperator {
	text-align: center;
	&:before{
		content: "";
		width: 20%;
		border-bottom: 1px solid $light-gray;
	}
	&:after{
		content: "";
		width: 20%;
		border-bottom: 1px solid $light-gray;
	}
}

// Teaser Seperator Alt
hr {
    border: none;
    margin: 1.5em 0 1.5em;
    font-size: 200%;
    color: #ddd;
    text-align: center;
    height: .75em;
    position: relative;
    border-bottom: 1px solid #ddd;
}
hr:after {
    content: "✫";
    background: $body-color;
    margin: 0 auto;
    padding: 1rem;
}

h1 + hr {margin:-0.5em 0 1.5em; font-size: 400%;}


// Post Notes
.post-note{
  @include breakpoint(I--------I){
    display: none;
  }
  position: fixed;
  overflow: hidden;
  top: 5%;
  left: 1050px;
  height: 100px;
  line-height: 100px;
  padding: 0 1.5% 0 1%;
  font-family: "Helvetica Neue", sans-serif;
  font-size: .8rem;
  font-weight: bold;
  color: white;
  text-shadow: -1px -1px 0px rgba(33,0,0,1);
  @include border-radius(0 6 6 0);
  i {
    font-size: 1rem;
  }
  &:before {
    // Clipped shadow
    content: "";
    position: absolute;
  	width: 20px;
  	height: 100px;
  	top: 0px;
  	left: -20px;
  	z-index: 5;
  	background: rgba(0,0,0,0.3);
  	@include border-radius(50%);
  	@include box-shadow(0px 5px 10px 0px rgba(0,0,0,0.3));
  }
  &:after {
    // Ribbon background
    width: 98%;
    height: 50%;
    background: rgba(137, 4, 113,1);
    position: absolute;
    content: "";
    left: 0;
    top: 25%;
    z-index: -1;
    @include border-radius(0 16px 16px 0);
    //@include box-shadow(0px 0px 6px 0px rgba(0,0,0,0.3));
    @include stiches(rgba(75,3,75,1), rgba(137, 4, 113,1), 2px, 2px);
  }
}

//Background Variants
.darken-a {
  background: darken($body-color,2);
}

.darken-b {
  background: darken($body-color,4);
}

.darken-c {
  background: darken($body-color,6);
}

.darken-d {
  background: darken($body-color,8);
}

.darken-e {
  background: darken($body-color,10);
}
.darken-f {
  background: darken($body-color,12);
}
.darken-g {
  background: darken($body-color,14);
}