#footer.thumbs li img {
	border-radius:3px;
}

#horizontal-tabs .contents {
	border-radius:3px;
}

#horizontal-tabs ul.tabs li {
	float:left;
}

#horizontal-tabs.style2 ul.tabs li {
	border-radius:3px;
}

#map {
	display:block;
	height:350px;
	margin:0 auto;
	margin-top:-40px;
	width:100%;
}

#map img {
	max-width:inherit!important;
}

#menu > a {
	border-radius:1px;
	display:none;
}

#nav {
	float:right;
}

#options li {
	float:left;
}

#options li a {
	border-radius:3px;
}

#sidebar.thumbs li img {
	border-radius:3px;
}

#toTop {
	border-radius:3px;
}

#toggle-view .panel {
	border-radius:3px;
}

#toggle-view li h4 {
	border-radius:3px;
}

#vertical-tabs .contents {
	border-radius:3px;
	float:left;
}

#vertical-tabs ul.tabs {
	float:left;
}

#vertical-tabs.style2 ul.tabs li {
	border-radius:3px;
}

.about-author .avatar {
	float:left;
}

.about-author .avatar img {
	border-radius:50%;
	height:80px;
	width:80px;
}

.about-author .content {
	border-radius:3px;
	margin-top:20px;
	overflow:hidden;
	padding:20px;
}

.about-author .content .data {
	margin-left:105px;
}

.about-author .content .data h5 {
	margin-bottom:10px;
}

.accordion .icon-minus {
	float:right;
}

.accordion .icon-plus {
	float:right;
}

.accordion h4 {
	border-radius:3px;
}

.accordion p {
	border-radius:3px;
}

.accordion.style2 .icon-minus {
	border-radius:3px;
	float:left;
}

.accordion.style2 .icon-plus {
	border-radius:3px;
	float:left;
}

.address-info li {
	line-height:25px;
	padding:5px 5px 5px 18px;
	position:relative;
}

.address-info li:before {
	content:'\f041';
	font-family:FontAwesome;
	font-size:20px;
	font-style:normal;
	font-weight:400;
	left:0;
	position:absolute;
	text-decoration:inherit;
	top:5px;
}

.alert {
	border-radius:3px;
}

.alert i {
	float:left;
}

.blog-3 #options {
	margin-bottom:15px;
}

.blog-3 #options #filters li {
	display:inline-block;
	float:none;
	margin:2px 4px 2px 0;
}

.blog-3 .item {
	border-radius:3px;
	margin-bottom:20px;
}

.blog-3 .item .contain .data {
	padding:8px;
}

.blog-3 .item .image-post {
	margin-bottom:3px;
	margin-top:0;
}

.blog-3 .item .image-post img {
	border-radius:2px 2px 0 0;
}

.blog-3 .item .post-content {
	padding-top:12px;
}

.blog-3 .item .post-meta {
	margin-bottom:13px;
}

.blog-3 .item .post-meta .meta {
	background:none!important;
	margin:3px 2px 3px 0;
	padding:5px 10px 0 0;
}

.blog-3 .pagination-contain .pagination {
	display:inline-block;
}

.bottom-1 {
	margin-bottom:15px!important;
}

.bottom-2 {
	margin-bottom:15px!important;
}

.bottom-3 {
	margin-bottom:35px!important;
}

.bottom-4 {
	margin-bottom:45px!important;
}

.bottom-5 {
	margin-bottom:55px!important;
}

.breadcrumbs {
	border-radius:3px;
}

.button {
	border-radius:3px;
}

.comments .comment-box {
	margin-bottom:20px;
}

.comments .comment-box .avatar {
	float:left;
	margin-top:5px;
}

.comments .comment-box .avatar img {
	border-radius:50%;
	height:60px;
	width:60px;
}

.comments .comment-box .children {
	margin-left:80px;
	margin-top:20px;
}

.comments .comment-box .comment {
	margin-left:80px;
	padding-bottom:20px;
}

.comments .comment-box .comment .date-replay {
	margin-bottom:17px;
}

.comments .comment-box .comment h5 {
	margin-bottom:5px;
}

.comments .comment-box.author {
	border-radius:3px;
	padding:15px 10px 10px;
}

.comments .comment-box.author .comment {
	border-bottom:0;
	padding-bottom:10px;
}

.comments > .comment-box:last-child > .comment {
	border-bottom:0;
}

.down-button {
	display:none;
	text-align:center;
}

.download-now {
	padding:20px 0;
}

.email-info li {
	line-height:25px;
	padding:5px 5px 5px 18px;
	padding-left:26px;
	position:relative;
}

.email-info li:before {
	content:'\f0e0';
	font-family:FontAwesome;
	font-size:17px;
	font-style:normal;
	font-weight:400;
	left:0;
	position:absolute;
	text-decoration:inherit;
	top:5px;
}

.featured-clients .item {
	margin-bottom:20px;
}

.featured-clients img {
	filter:alpha(opacity=80);
	opacity:.8;
}

.featured-clients img:hover {
	filter:alpha(opacity=100);
	opacity:1;
}

.flex-container .slides li img {
	border-radius:3px;
}

.flex-direction-nav li a.flex-next {
	border-radius:2px 0 0 2px;
}

.flex-direction-nav li a.flex-prev {
	border-radius:0 2px 2px 0;
}

.float-left {
	float:left;
}

.float-right {
	float:right;
}

.footer-down {
	padding:22px 0;
}

.footer-top {
	padding:40px 0;
}

.form-box {
	float:left;
	margin:0 20px 15px 0;
	width:200px;
}

.form-box input.text {
	border:none;
	border-radius:3px;
	display:block;
	padding:12px 10px;
	width:89%;
}

.form-box label {
	display:block;
	margin-bottom:8px;
	padding:5px 0;
}

.form-box textarea {
	border:none;
	border-radius:3px;
	display:block;
	min-height:180px;
	padding:12px 10px;
	width:96.6%;
}

.form-box.big {
	width:100%;
}

.form-box.last {
	margin-right:0;
}

.form-elements input[type="text"] {
	border-radius:3px;
}

.form-elements select {
	border-radius:3px;
}

.form-elements textarea {
	border-radius:3px;
}

.gallery .item {
	margin-bottom:20px;
	overflow:hidden;
	position:relative;
}

.gallery .item a {
	display:block;
}

.gallery .item img {
	display:block;
	height:auto;
	width:100%;
}

.gallery .item img.pic {
	border-radius:3px;
}

.gallery .item.element-4 .img-caption .desc {
	padding:5%;
}

.image-post {
	margin:5px 0 15px;
}

.image-post img {
	border-radius:3px;
}

.image-post img:hover {
	filter:alpha(opacity=70);
	opacity:.7;
}

.img-caption {
	border-radius:3px;
	height:100%;
	position:absolute;
	top:100%;
	width:100%;
}

.img-caption .desc {
	padding:10%;
}

.img-caption .desc span {
	display:block;
	font-weight:700;
	margin-top:10%;
	text-align:center;
}

.info-box {
	border-radius:3px;
}

.latest-blog .item {
	margin-bottom:27px;
}

.latest-blog .item .meta {
	margin-bottom:13px;
}

.latest-blog .item img.pic {
	border-radius:3px;
	margin-bottom:15px;
}

.latest-blog .item img.pic:hover {
	filter:alpha(opacity=70);
	opacity:.7;
}

.logo {
	margin:35px 0;
}

.member-social a {
	border-radius:3px;
	float:left;
	height:15px;
	margin:0 6px 6px 0;
	padding:4px 0 12px;
	width:34px;
}

.member-social a i {
	display:block!important;
	margin:0 auto!important;
}

.meter {
	border-radius:3px;
}

.meter .meter-content {
	border-radius:3px;
}

.more {
	border-radius:3px;
	display:block;
	float:right;
	font-weight:700;
	height:29px;
	width:29px;
}

.navigation ul li {
	float:left;
}

.next-prev-posts {
	overflow:hidden;
}

.notification_error {
	border-radius:3px;
}

.notification_ok {
	border-radius:3px;
}

.one-page #options {
	margin-bottom:15px;
}

.one-page #options #filters li {
	display:inline-block;
	display:inline-block;
	float:none;
	float:none;
	margin:2px 4px 2px 0;
}

.one-page #testimonials .slidecontrols li a.carousel1-next {
	bottom:8px;
	top:inherit;
}

.one-page #testimonials .slidecontrols li a.carousel1-prev {
	bottom:8px;
	top:inherit;
}

.one-page .home-bg {
	padding:55px 0;
}

.one-page p.description {
	line-height:30px;
}

.one-page.section {
	padding:55px 0;
	padding-bottom:0;
}

.one-page.section .pic {
	display:block;
}

.one-page.section h2 {
	margin-top:90px;
}

.one-page.welcome {
	padding:55px 0;
}

.page-404 {
	margin-bottom:-40px;
	min-height:520px;
	padding:60px 0 120px;
}

.page-404 .coffee {
	margin:20px auto;
	position:relative;
	width:77px;
}

.page-404 .oops {
	margin-bottom:38px;
}

.page-404 .text {
	margin-bottom:30px;
}

.page-404 i.icon-coffee {
	position:absolute;
	top:31px;
	z-index:100;
}

.page-404 i.icon-fire {
	left:28px;
	position:absolute;
}

.page-title {
	margin-bottom:40px;
	padding:42px 0 34px;
}

.page-title h1 {
	float:left;
	margin-bottom:0;
}

.pagination a {
	border-radius:3px;
	float:left;
}

.phone-info li {
	line-height:25px;
	padding:5px 5px 5px 18px;
	padding-left:22px;
	position:relative;
}

.phone-info li:before {
	content:'\f095';
	font-family:FontAwesome;
	font-size:17px;
	font-style:normal;
	font-weight:400;
	left:0;
	position:absolute;
	text-decoration:inherit;
	top:5px;
}

.phone-mail {
	padding:3px 0;
}

.phone-mail a {
	margin-right:20px;
}

.phone-mail i {
	margin-right:7px;
}

.popular-tags a {
	border-radius:3px;
	display:inline-block;
	margin:0 6px 6px 0;
	padding:12px 10px;
}

.portfolio .item {
	margin-bottom:20px;
	overflow:hidden;
	position:relative;
}

.portfolio .item a {
	display:block;
}

.portfolio .item img {
	display:block;
	height:auto;
	width:100%;
}

.portfolio .item img.pic {
	border-radius:3px;
}

.portfolio .item.element-4 .img-caption .desc {
	padding:5%;
}

.portfolio .item.element-4 .img-caption .desc span {
	margin-top:3%;
}

.portfolio-control {
	float:right;
	margin-top:6px;
}

.portfolio-control a {
	border-radius:3px;
	float:right;
	margin-left:9px;
	padding:4px 14px;
}

.portfolio-control a.all {
	padding:6px 8px 2px;
}

.post-content p {
	margin-bottom:10px;
}

.post-meta {
	overflow:hidden;
}

.post-meta .meta {
	border-radius:3px;
	display:inline-block;
	float:left;
	margin:0 5px 5px 0;
	min-height:16px;
	padding:8px 12px;
}

.post-meta .meta i {
	margin-right:3px;
}

.post-tags {
	border-radius:3px;
	line-height:22px;
	padding:13px 15px;
}

.post.single {
	border-bottom:0!important;
}

.post.style-1 {
	padding-bottom:32px;
}

.post.style-1:last-child {
	border-bottom:0;
}

.post.style-2 {
	padding-bottom:32px;
}

.post.style-2 .image-post {
	float:left;
}

.post.style-2 .image-post img {
	margin-right:20px;
	max-width:260px;
	min-height:187px;
}

.post.style-2:last-child {
	border-bottom:0;
}

.project-full img {
	border-radius:3px;
}

.project-full li {
	margin-bottom:20px;
}

.qoute {
	border-radius:3px;
}

.recent-work .item {
	margin-bottom:20px;
	max-height:240px;
	overflow:hidden;
	position:relative;
}

.recent-work .item a {
	display:block;
}

.recent-work .item img {
	display:block;
	height:auto;
	width:100%;
}

.recent-work .item img.pic {
	border-radius:3px;
}

.related-posts {
	overflow:hidden;
}

.related-posts .item {
	float:left;
	margin-bottom:13px;
	margin-right:13px;
	width:200px;
}

.related-posts .item .meta {
	margin-top:5px;
}

.related-posts .item img {
	border-radius:3px;
	height:128px;
	margin-bottom:10px;
	width:200px;
}

.related-posts .item img:hover {
	filter:alpha(opacity=70);
	opacity:.7;
}

.services.home {
	padding:55px 0;
}

.services.home.s-2 {
	padding:75px 0 35px;
}

.services.style-1 .item {
	margin-bottom:10px;
}

.services.style-1 .item .circle {
	border-radius:50%;
	height:50px;
	margin:0 auto;
	margin-bottom:30px;
	padding:40px 0;
	width:130px;
}

.services.style-1 .item .circle a {
	display:block;
}

.services.style-1 .item h3 {
	margin-bottom:12px;
}

.services.style-1 .item p {
	padding:0 5px;
}

.services.style-2 .circle {
	border-radius:50%;
	height:22px;
	margin-right:10px;
	margin-top:7px;
	padding:14px 0;
	width:50px;
}

.services.style-2 .data {
	width:78%;
}

.services.style-2 .item {
	overflow:hidden;
}

.services.style-3 .circle {
	border-radius:50%;
	height:51px;
	margin-right:10px;
	padding:27px 0;
	width:105px;
}

.services.style-3 .data {
	width:73%;
}

.services.style-3 .item {
	overflow:hidden;
}

.share-social a {
	border-radius:3px;
	float:left;
	height:18px;
	margin:0 6px 6px 0;
	padding:7px 0 12px;
	width:38px;
}

.share-social a span {
	display:block!important;
	margin:0 auto!important;
}

.sidebar .search form {
	position:relative;
}

.sidebar .widget {
	margin-bottom:30px;
}

.sidebar .widget .text-search {
	border:none;
	padding:13px 36px 13px 13px;
	width:82%;
}

.slidecontrols li a {
	border-radius:3px;
}

.slider-1 {
	overflow:hidden;
}

.slider-1 .button.medium {
	margin-right:12px;
	padding:17px 30px;
}

.slider-1 .loading {
	background:#4b4c4d url(../images/icons/loading.gif) no-repeat center center;
	min-height:478px;
	position:relative;
}

.slider-1 .slides li .contain {
	min-height:478px;
	position:relative;
}

.slider-1 .slides li .item {
	opacity:0;
	position:absolute;
	right:-100%;
	z-index:10;
}

.slider-1 .slides li .item .video-wrap {
	min-height:244px;
	min-width:425px;
}

.slider-1 .slides li .links {
	bottom:-100%;
	left:0;
	max-width:480px;
	min-width:480px;
	opacity:0;
	position:absolute;
	z-index:50;
}

.slider-1 .slides li .links a:hover {
	background:rgba(0,0,0,0.5);
}

.slider-1 .slides li h2 {
	left:0;
	max-width:480px;
	min-width:480px;
	opacity:0;
	position:absolute;
	top:-100%;
	z-index:50;
}

.slider-1 .slides li p {
	bottom:-50%;
	left:0;
	line-height:30px;
	max-width:480px;
	min-width:480px;
	opacity:0;
	position:absolute;
	z-index:50;
}

.slider-1.iphone li {
	background:url(../images/img/sliders/pattern.png) repeat;
}

.slider-1.iphone li img {
	margin-top:37px;
}

.slider-2 {
	overflow:hidden;
}

.slider-2 .button.medium {
	margin-right:12px;
	padding:17px 30px;
}

.slider-2 .loading {
	background:#4b4c4d url(../images/icons/loading.gif) no-repeat center center;
	min-height:478px;
	position:relative;
}

.slider-2 .slides li .contain {
	min-height:478px;
	position:relative;
}

.slider-2 .slides li .links {
	bottom:-60%;
	opacity:0;
	padding:0 15%;
	position:absolute;
	width:70%;
}

.slider-2 .slides li .links a:hover {
	background:rgba(0,0,0,0.5);
}

.slider-2 .slides li h2 {
	bottom:-20%;
	opacity:0;
	padding:0 15%;
	position:absolute;
	width:70%;
}

.slider-2 .slides li h2 span {
	background:rgba(0,0,0,0.5);
	letter-spacing:2px;
	line-height:75px;
	padding:10px 20px;
	text-transform:uppercase;
}

.slider-2 .slides li p {
	bottom:-50%;
	line-height:30px;
	opacity:0;
	padding:0 15%;
	position:absolute;
	width:70%;
}

.social a {
	display:inline-block;
	margin:0 0 0 18px;
}

.subscribe form {
	margin-top:22px;
}

.subscribe input.mail {
	border:none;
	border-radius:3px;
	margin-right:2px;
	padding:13px;
	width:53%;
}

.subscribe input.submit {
	border:none;
	border-radius:3px;
	cursor:pointer;
	padding:12px 15px;
}

.tables-column {
	border-radius:3px;
}

.tables-column .footer h4 a {
	border-radius:3px;
}

.tables-column .header h3 {
	border-radius:2px 2px 0 0;
}

.team .item {
	margin-bottom:30px!important;
	min-height:397px;
}

.team .item h4 {
	float:left;
	margin-right:5px;
}

.team .item img {
	border-radius:3px;
	filter:alpha(opacity=70);
	margin-bottom:15px;
	opacity:.7;
}

.team .item img:hover {
	filter:alpha(opacity=100);
	opacity:1;
}

.team .item p {
	margin:8px 0 18px;
}

.team .item span {
	display:inline-block;
	font-style:italic;
	margin-top:10px;
}

.team.columns-4 .item {
	min-height:360px;
}

.testimonial-item .author {
	margin:-4px 0 0 77px;
}

.testimonial-item p {
	border-radius:3px;
	padding:18px 20px 25px;
}

.testimonials .testimonial-item {
	margin-bottom:20px;
}

.testimonials-arrow {
	background:url(../images/icons/testimonials-arrow.png) no-repeat;
	height:26px;
	margin:0 0 0 30px;
	width:26px;
}

.the-icons {
	float:left;
}

.top-1 {
	margin-top:15px!important;
}

.top-2 {
	margin-top:25px!important;
}

.top-3 {
	margin-top:35px!important;
}

.top-4 {
	margin-top:45px!important;
}

.top-5 {
	margin-top:55px!important;
}

.top-bar {
	min-height:30px;
	padding:10px 0;
}

.top-bar .social-icons {
	float:right;
}

.tweet_list li i.icon-twitter {
	float:left;
}

.welcome {
	border-radius:3px;
}

.widget #horizontal-tabs ul.tabs li {
	padding:16px 14px;
}

.widget .followers {
	border-radius:3px;
	padding:10px;
}

.widget .followers li {
	display:inline-block;
	margin:10px 4px;
	text-align:center;
}

.widget .followers li a {
	border-radius:3px;
	display:inline-block;
	height:18px;
	margin:0 6px 6px 0;
	padding:7px 0 12px;
	width:38px;
}

.widget .followers li a i {
	margin:0;
}

.widget .followers li h4 {
	margin-bottom:0;
}

.widget .submit-search {
	background:url(../images/icons/search-icon.png) no-repeat;
	border:none;
	cursor:pointer;
	height:18px;
	position:absolute;
	right:14px;
	top:15px;
	width:18px;
}

.widget .text-search {
	border-radius:3px;
}

.widget.categories ul li {
	margin-bottom:7px;
	padding:5px 5px 10px 18px;
}

.widget.categories ul li:last-child {
	border-bottom:0;
	margin-bottom:0;
}

.widget.most-posts ul.posts li {
	margin-bottom:22px;
	overflow:hidden;
}

.widget.most-posts ul.posts li img {
	height:68px;
	width:68px;
}

.widget.most-posts ul.posts li img:hover {
	filter:alpha(opacity=80);
	opacity:.8;
}

.widget.most-posts ul.posts li p {
	margin-bottom:5px;
}

.widget.most-posts ul.posts li:last-child {
	margin-bottom:0;
}

// header sticky fixed
header.fixed .sticky-wrapper.is-sticky .main-header {
	-moz-box-shadow:0 0 3px #888;
	-webkit-box-shadow:0 0 3px #888;
	box-shadow:0 0 3px #888;
	position:relative;
	width:100%;
	z-index:1000;
}

// navigation menu
#nav {
	margin-top:-4px;
}

a.next-post {
	float:right;
}

a.prev-post {
	float:left;
}

blockquote {
	border-radius:0 2px 2px 0;
}

body.under-construction .content {
	background:url(../images/img/under_construction.jpg) no-repeat;
	background-position:50% 0;
	background-size:cover;
	height:455px;
	image-rendering:optimizeQuality;
	padding:100px 0;
	width:100%;
}

body.under-construction .content #clock-ticker {
	opacity:0;
}

body.under-construction .content .block {
	border-radius:50%;
	display:inline-block;
	height:62px;
	margin:0 10px;
	padding:34px 0;
	width:130px;
}

body.under-construction .content .block .flip-top {
	display:block;
	margin-bottom:3px;
}

body.under-construction .content .subscribe {
	position:relative;
	z-index:100;
}

body.under-construction .content h2.title {
	margin-bottom:20px;
	margin-top:-40px;
	opacity:0;
}

body.under-construction .content input.subscribe-button {
	border:none;
	border-radius:3px;
	cursor:pointer;
	padding:12px 20px 14px;
}

body.under-construction .content input.subscribe-text {
	border:none;
	border-radius:3px;
	margin-left:13px;
	margin-right:15px;
	padding:14px 15px;
	width:50%;
}

body.under-construction .content p.text {
	line-height:40px;
	opacity:0;
}

body.under-construction footer {
	margin:0;
	padding:30px 0 40px;
}

body.under-construction footer .social {
	float:none;
}

body.under-construction footer span.copyright {
	margin-bottom:15px;
}

body.under-construction header .logo {
	margin:39px 0;
}

body.under-construction header .logo img {
	display:block;
	opacity:0;
}

footer {
	margin-top:40px;
}

footer .social {
	float:right;
	margin-top:2px;
}

footer .social .social-icon.white {
	margin:0!important;
}

footer .widget.most-posts ul.posts li {
	margin-bottom:12px;
}

footer h3.title {
	margin-bottom:20px;
}

header .search form {
	margin:30px 0;
	position:relative;
}

header .social {
	float:right;
	margin-top:1px;
}

header .social .social-icon.white {
	margin:0!important;
}

header .widget .text-search {
	border:none;
	padding:13px 36px 13px 13px;
	width:82%;
}

header.fixed .sticky-wrapper.is-sticky .down-header {
	-moz-box-shadow:0 0 3px #888;
	-webkit-box-shadow:0 0 3px #888;
	box-shadow:0 0 3px #888;
	position:relative;
	width:100%;
	z-index:1000;
}

header.style-2 .down-button {
	display:none!important;
}

header.style-2 .top-bar {
	min-height:4px;
	padding:0;
}

header.style-3 #nav {
	float:left;
	margin-top:-1px;
}

header.style-3.style-5 .down-header {
	min-height:66px;
}

header.style-3.style-5 .navigation > #nav {
	display:inline-block;
	float:none;
	margin-bottom:-4px;
}

html.ie.ie8 .about-author .avatar img {
	width:inherit;
}

html.ie.ie8 .comments .comment-box .avatar img {
	width:inherit;
}

html.ie.ie8 .post.style-2 .image-post {
	margin-right:20px;
	max-width:260px;
	min-height:187px;
}

i.icon-angle-down.responsive {
	display:none;
}

img.pic-2 {
	border-radius:3px;
	float:left;
	margin:0 13px 5px 0;
}

span.copyright {
	display:block;
	padding-top:7px;
}

@media only screen and (max-width: 768px) {
	#menu {
		left:auto;
		position:relative;
		top:auto;
	}

	#menu > a {
		float:right;
		font-size:0;
		height:40px;
		margin-top:33px;
		position:relative;
		width:40px;
	}

	#menu > a:after {
		content:'';
		left:25%;
		position:absolute;
		right:25%;
		top:35%;
		top:60%;
	}

	#menu > a:before {
		content:'';
		left:25%;
		position:absolute;
		right:25%;
		top:35%;
	}

	#menu > ul > li {
		width:100%;
	}

	#menu > ul > li > a {
		display:block;
		height:auto;
		padding:13px 10px;
		text-align:left;
	}

	#menu > ul > li > ul > li > a {
		display:block;
		height:auto;
		padding:13px 10px;
		text-align:left;
	}

	#menu > ul > li > ul > li > ul > li > a {
		display:block;
		height:auto;
		padding:13px 10px;
		text-align:left;
	}

	#menu > ul > li > ul > li > ul > li > ul > li > a {
		display:block;
		height:auto;
		padding:13px 10px;
		text-align:left;
	}

	#menu > ul > li:not( :last-child ) > a {
		border-right:none;
	}

	#menu li ul li ul {
		padding:0 15px;
		position:static;
		width:93%!important;
	}

	#menu li ul li ul li ul {
		padding:0 15px;
		position:static;
		width:93%!important;
	}

	#menu:not( :target ) > a:first-of-type {
		display:block;
	}

	#menu:target > a:last-of-type {
		display:block;
	}

	#toTop {
	}

	.blog-3 #options #filters li {
		float:left;
	}

	.button {
		padding:15px 24px;
	}

	.button.large {
		padding:17px 25px;
	}

	.button.medium {
		padding:15px 24px;
	}

	.flex-direction-nav li a {
		padding:8px 7px;
		top:38%;
	}

	.main-header .two-thirds.column {
		float:right;
	}

	.one-page #options #filters li {
		float:left;
	}

	.one-page p.description {
		font-size:15px;
	}

	.post.style-2 .image-post img {
		margin-right:0;
		max-width:100%;
		min-height:auto;
	}

	.slider-1 .flex-direction-nav li a {
		padding:8px 9px;
	}

	.slider-2 .flex-direction-nav li a {
		padding:8px 9px;
	}

	// first level
	#menu > ul {
		display:none;
		height:auto;
		min-width:65%;
		position:absolute;
		right:0;
		top:83px;
		z-index:999;
	}

	// second level
	#menu li ul {
		padding:0 15px;
		position:static;
		width:87%!important;
	}

	// shortcodes
	.button.small {
		padding:12px 18px;
	}

	header.style-3 #menu > a {
		float:none;
		margin:10px auto;
	}

	header.style-3 #menu > ul {
		right:15%;
		top:51px;
	}

	header.style-3 #menu li ul {
		width:93%!important;
	}

	header.style-3.style-5 .down-header {
		min-height:61px;
	}

	i.icon-angle-down.responsive {
		display:inline-block;
		float:right;
	}

	img.rightarrowclass {
		display:none;
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	#footer.thumbs li {
		margin:3px 6px 3px 0;
		width:47%;
	}

	#footer.thumbs li img {
		height:90px;
		width:103px;
	}

	#sidebar.thumbs li {
		width:38.7%;
	}

	#vertical-tabs .contents {
		margin-left:0;
		width:100%;
	}

	#vertical-tabs ul.tabs {
		border-top:none!important;
		width:100%;
	}

	#vertical-tabs ul.tabs li {
		float:left;
		text-align:center;
		width:37%;
	}

	#vertical-tabs.style2 .contents {
		margin-left:0;
		width:100%;
	}

	#vertical-tabs.style2 ul.tabs li {
		margin-right:3px;
	}

	#vertical-tabs.style2 ul.tabs li.current {
		border:none!important;
	}

	.alert {
		font-size:14px;
	}

	.alert .close {
		font-size:14px;
	}

	.form-box {
		margin:0 0 10px;
		width:100%;
	}

	.form-box input.text {
		width:95.8%;
	}

	.form-box textarea {
		width:95.8%;
	}

	.form-elements textarea {
		width:94%;
	}

	.four.columns #footer.thumbs li {
		width:46%;
	}

	.gallery .item.element-3 .img-caption .desc {
		padding:5%;
	}

	.gallery .item.element-3 .img-caption .desc h3 {
		font-size:20px;
		margin-bottom:0;
	}

	.gallery .item.element-3 .img-caption .desc p {
		font-size:13px;
	}

	.gallery .item.element-3 .img-caption .desc span {
		margin-top:3%;
	}

	.gallery .item.element-4 .img-caption .desc h3 {
		font-size:20px;
		margin-bottom:0;
	}

	.gallery .item.element-4 .img-caption .desc p {
		font-size:13px;
	}

	.one-page h1.title {
		font-size:38px;
	}

	.page-title h1 {
		font-size:46px;
	}

	.portfolio .item.element-3 .img-caption .desc {
		padding:5%;
	}

	.portfolio .item.element-3 .img-caption .desc h3 {
		font-size:20px;
		margin-bottom:0;
	}

	.portfolio .item.element-3 .img-caption .desc p {
		font-size:13px;
	}

	.portfolio .item.element-3 .img-caption .desc span {
		margin-top:3%;
	}

	.portfolio .item.element-4 .img-caption .desc h3 {
		font-size:20px;
		margin-bottom:0;
	}

	.portfolio .item.element-4 .img-caption .desc p {
		font-size:13px;
	}

	.portfolio .item.element-4 .img-caption .desc span {
		margin-top:1%;
	}

	.post.style-2 .image-post {
		float:none;
	}

	.qoute .button {
		font-size:14px;
	}

	.qoute h4 {
		font-size:21px;
	}

	.recent-work .item .img-caption .desc {
		padding:5%;
	}

	.recent-work .item .img-caption .desc h3 {
		font-size:20px;
		margin-bottom:0;
	}

	.recent-work .item .img-caption .desc p {
		font-size:13px;
	}

	.recent-work .item .img-caption .desc span {
		margin-top:3%;
	}

	.related-posts .item {
		width:156px;
	}

	.related-posts .item img {
		height:110px;
		width:156px;
	}

	.services.style-2 {
		text-align:center;
	}

	.services.style-2 .circle {
		float:none;
		margin:0 auto;
		margin-bottom:15px;
	}

	.services.style-2 .data {
		float:none;
		width:100%;
	}

	.services.style-3 {
		text-align:center;
	}

	.services.style-3 .circle {
		float:none;
		margin:0 auto;
		margin-bottom:15px;
	}

	.services.style-3 .data {
		float:none;
		width:100%;
	}

	.sidebar .widget .text-search {
		width:77%;
	}

	.slider-1 .loading {
		min-height:395px;
	}

	.slider-1 .slides li .contain {
		min-height:395px;
	}

	.slider-1 .slides li .item {
		max-width:45%;
	}

	.slider-1 .slides li .item .video-wrap {
		min-height:194px;
		min-width:357px;
	}

	.slider-1 .slides li .links {
		max-width:380px;
		min-width:380px;
	}

	.slider-1 .slides li h2 {
		font-size:22px;
		line-height:32px;
		max-width:380px;
		min-width:380px;
	}

	.slider-1 .slides li p {
		font-size:16px;
		max-width:380px;
		min-width:380px;
	}

	.slider-2 .loading {
		min-height:447px;
	}

	.slider-2 .slides li .contain {
		min-height:447px;
	}

	.slider-2 .slides li .links {
		padding:0 10%;
		width:80%;
	}

	.slider-2 .slides li h2 {
		padding:0 10%;
		width:80%;
	}

	.slider-2 .slides li p {
		padding:0 10%;
		width:80%;
	}

	.subscribe input.mail {
		margin-bottom:10px;
		margin-right:0;
		width:89%;
	}

	.subscribe input.submit {
		width:100%;
	}

	.tables-column .header h3 {
		font-size:20px;
	}

	.team .item {
		min-height:236px;
	}

	.welcome {
		font-size:23px;
		padding:30px 5%;
	}

	.welcome-text {
		font-size:38px;
	}

	.widget .followers li {
		margin:10px 18px;
	}

	header .widget .text-search {
		width:77%;
	}
}

@media only screen and (max-width: 767px) {
	.recent-work .item {
		max-height:336px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#footer.thumbs li img {
		height:105px;
		width:126px;
	}

	#menu > a {
		margin-top:31px;
	}

	#menu > ul {
		right:0;
		top:81px;
		width:420px;
	}

	#menu li ul {
		width:92.8%!important;
	}

	#menu li ul li ul {
		width:92.8%!important;
	}

	#menu li ul li ul li ul {
		width:92.8%!important;
	}

	#sidebar.thumbs li {
		width:30.9%;
	}

	#sidebar.thumbs li img {
		height:105px;
		width:126px;
	}

	#vertical-tabs .contents {
		margin-left:0;
		width:100%;
	}

	#vertical-tabs ul.tabs {
		border-top:none!important;
		width:100%;
	}

	#vertical-tabs ul.tabs li {
		float:left;
		text-align:center;
		width:37%;
	}

	#vertical-tabs.style2 .contents {
		margin-left:0;
		width:100%;
	}

	#vertical-tabs.style2 ul.tabs li {
		margin-right:3px;
	}

	#vertical-tabs.style2 ul.tabs li.current {
		border:none!important;
	}

	.button {
		padding:12px 22px;
	}

	.button.large {
		padding:15px 22px;
	}

	.button.medium {
		padding:12px 22px;
	}

	.button.small {
		padding:10px 16px;
	}

	.comment-form input.button {
		padding:13px 0;
		width:100%;
	}

	.down-button {
		display:block;
		filter:alpha(opacity=60);
		height:22px;
		margin:0 auto;
		opacity:.6;
		width:30px;
	}

	.down-button:hover {
		filter:alpha(opacity=100);
		opacity:1;
	}

	.download-now h2 {
		font-size:29px;
	}

	.featured-clients img {
		display:block;
		margin:0 auto;
	}

	.form-box {
		margin:0 0 10px;
		width:100%;
	}

	.form-box input.text {
		width:94.8%;
	}

	.form-box textarea {
		width:94.8%;
	}

	.four.columns #footer.thumbs li img {
		height:105px;
		width:126px;
	}

	.logo {
		margin:30px 0 45px;
	}

	.main-header .one-third.column {
		width:auto;
	}

	.main-header .two-thirds.column {
		width:auto;
	}

	.one-page h1.title {
		font-size:36px;
	}

	.one-page.section h2 {
		margin-top:20px;
		text-align:center;
	}

	.one-page.section p {
		text-align:center;
	}

	.page-404 {
		padding:40px 0 150px;
	}

	.page-404 .oops {
		font-size:115px;
	}

	.page-404 .text {
		font-size:28px;
		line-height:41px;
		margin-bottom:15px;
	}

	.page-title h1 {
		font-size:37px;
	}

	.phone-mail {
		margin-bottom:7px;
		margin-top:5px;
		text-align:center;
	}

	.phone-mail a {
		margin:0 10px;
	}

	.related-posts .item {
		width:197px;
	}

	.related-posts .item img {
		height:125px;
		width:197px;
	}

	.services.style-1 .item {
		margin-bottom:35px;
	}

	.services.style-1 .item .circle {
		margin-bottom:17px;
	}

	.services.style-1 .item h3 {
		margin-bottom:3px;
	}

	.services.style-2 .data {
		width:83%;
	}

	.services.style-3 .data {
		width:70%;
	}

	.sidebar .widget .text-search {
		width:88%;
	}

	.slidecontrols li a.carousel1-next {
		position:absolute;
		right:0;
		top:0;
	}

	.slidecontrols li a.carousel1-prev {
		position:absolute;
		right:34px;
		top:0;
	}

	.slidecontrols li a.carousel2-next {
		position:absolute;
		right:0;
		top:0;
	}

	.slidecontrols li a.carousel2-prev {
		position:absolute;
		right:34px;
		top:0;
	}

	.slidecontrols li a.carousel3-next {
		position:absolute;
		right:0;
		top:0;
	}

	.slidecontrols li a.carousel3-prev {
		position:absolute;
		right:34px;
		top:0;
	}

	.slidecontrols li a.carousel4-next {
		position:absolute;
		right:0;
		top:0;
	}

	.slidecontrols li a.carousel4-prev {
		position:absolute;
		right:34px;
		top:0;
	}

	.slider-1 .loading {
		min-height:220px;
	}

	.slider-1 .slides li .contain {
		min-height:220px;
	}

	.slider-1 .slides li .item {
		max-width:45%;
	}

	.slider-1 .slides li .item .video-wrap {
		min-height:124px;
		min-width:195px;
	}

	.slider-1 .slides li .links {
		display:none;
		max-width:280px;
		min-width:280px;
	}

	.slider-1 .slides li h2 {
		font-size:22px;
		line-height:32px;
		max-width:280px;
		min-width:280px;
	}

	.slider-1 .slides li p {
		display:none;
		max-width:280px;
		min-width:280px;
	}

	.slider-2 .loading {
		min-height:427px;
	}

	.slider-2 .slides li .contain {
		min-height:427px;
	}

	.slider-2 .slides li .links {
		padding:0;
		width:100%;
	}

	.slider-2 .slides li h2 {
		padding:0;
		width:100%;
	}

	.slider-2 .slides li h2 span {
		font-size:30px;
		line-height:122px;
		padding:5px 20px;
	}

	.slider-2 .slides li p {
		font-size:16px;
		padding:0;
		width:100%;
	}

	.subscribe input.mail {
		width:62%;
	}

	.top-bar {
		min-height:0;
		padding:3px 0;
	}

	.top-bar .slidedown {
		display:none;
	}

	.welcome {
		font-size:23px;
		padding:30px 5%;
		text-align:left;
	}

	.welcome-text {
		font-size:28px;
	}

	.widget .followers li {
		margin:10px 21px;
	}

	body.under-construction .content {
		height:515px;
		padding:75px 0;
	}

	body.under-construction .content .block {
		margin-bottom:20px;
	}

	body.under-construction .content input.subscribe-button {
		margin-bottom:35px;
		width:94%;
	}

	body.under-construction .content input.subscribe-text {
		margin-bottom:15px;
		margin-left:0;
		margin-right:0;
		width:87%;
	}

	body.under-construction .content p.text {
		font-size:29px;
	}

	footer .footer-top .widget {
		margin-bottom:25px;
	}

	footer .social {
		float:none;
		text-align:center;
	}

	footer .social a {
		margin:0 0 0 13px;
	}

	footer h3.title {
		margin-bottom:10px;
	}

	header .search form {
		margin:0 0 30px;
	}

	header .social {
		float:none;
		margin-bottom:11px;
		text-align:center;
	}

	header .widget .text-search {
		width:88%;
	}

	header.style-3 #menu > a {
		margin-top:10px;
	}

	header.style-3 #menu > ul {
		right:0;
		top:51px;
		width:420px;
	}

	header.style-3 .logo {
		margin:30px 0;
		text-align:center;
	}

	span.copyright {
		line-height:24px;
		margin-bottom:11px;
		text-align:center;
	}
}

@media only screen and (max-width: 479px) {
	#footer.thumbs li {
		margin:3px 6px 0 0;
		width:31%;
	}

	#horizontal-tabs ul.tabs {
		width:100%;
	}

	#horizontal-tabs ul.tabs li {
		float:left;
		text-align:center;
		width:82%;
	}

	#menu > a {
		float:none;
		margin:0 auto;
		margin-bottom:35px;
	}

	#menu > ul {
		right:0;
		top:50px;
		width:100%;
	}

	#sidebar.thumbs li {
		margin:3px 6px 0 0;
		width:31%;
	}

	#vertical-tabs .contents {
		margin-left:0;
		width:100%;
	}

	#vertical-tabs ul.tabs {
		border-top:none!important;
		width:100%;
	}

	#vertical-tabs ul.tabs li {
		float:left;
		text-align:center;
		width:82%;
	}

	#vertical-tabs.style2 .contents {
		margin-left:0;
		width:100%;
	}

	#vertical-tabs.style2 ul.tabs li {
		margin-right:3px;
	}

	#vertical-tabs.style2 ul.tabs li.current {
		border:none!important;
	}

	.about-author .avatar {
		float:none;
		text-align:center;
	}

	.about-author .content .data {
		margin-left:0;
		margin-top:12px;
	}

	.about-author .content .data h5 {
		text-align:center;
	}

	.alert {
		font-size:14px;
	}

	.alert .close {
		font-size:14px;
	}

	.button {
		padding:10px 18px;
	}

	.button.large {
		padding:13px 19px;
	}

	.button.medium {
		padding:10px 18px;
	}

	.button.small {
		padding:8px 13px;
	}

	.comment-form input.button {
		padding:11px 0;
		width:99%;
	}

	.comments .comment-box .avatar {
		float:none;
		text-align:center;
	}

	.comments .comment-box .children {
		margin-left:20px;
	}

	.comments .comment-box .comment {
		margin-left:0;
		margin-top:15px;
	}

	.comments .comment-box .comment .date-replay {
		text-align:center;
	}

	.comments .comment-box .comment h5 {
		text-align:center;
	}

	.down-button {
		display:block;
		filter:alpha(opacity=60);
		height:22px;
		margin:0 auto;
		opacity:.6;
		width:30px;
	}

	.down-button:hover {
		filter:alpha(opacity=100);
		opacity:1;
	}

	.download-now h2 {
		font-size:29px;
	}

	.featured-clients img {
		display:block;
		margin:0 auto;
	}

	.flex-direction-nav li a {
		padding:0 5px;
		top:37%;
	}

	.form-box {
		margin:0 0 10px;
		width:100%;
	}

	.form-box input.text {
		width:91%;
	}

	.form-box textarea {
		width:91%;
	}

	.form-elements span {
		margin:10px 0;
		width:100%;
	}

	.gallery .item.element-3 .img-caption .desc {
		padding:5%;
	}

	.gallery .item.element-3 .img-caption .desc h3 {
		font-size:20px;
		margin-bottom:0;
	}

	.gallery .item.element-3 .img-caption .desc p {
		font-size:13px;
	}

	.gallery .item.element-3 .img-caption .desc span {
		margin-top:3%;
	}

	.latest-blog .item h3 {
		font-size:23px;
	}

	.logo img {
		display:block;
		margin:0 auto;
	}

	.one-page .testimonial-item .author {
		margin-bottom:50px;
	}

	.one-page h1.title {
		font-size:29px;
	}

	.one-page.section h2 {
		margin-top:20px;
		text-align:center;
	}

	.one-page.section p {
		text-align:center;
	}

	.page-404 {
		padding:40px 0 120px;
	}

	.page-404 .oops {
		font-size:90px;
		margin-bottom:30px;
	}

	.page-404 .text {
		font-size:20px;
		line-height:41px;
		margin-bottom:15px;
	}

	.page-title h1 {
		float:none;
		font-size:33px;
		text-align:center;
	}

	.phone-mail {
		margin-bottom:0;
		margin-top:5px;
		text-align:left;
	}

	.phone-mail a {
		display:block;
		margin:0;
		margin-bottom:10px;
	}

	.portfolio .item.element-3 .img-caption .desc {
		padding:5%;
	}

	.portfolio .item.element-3 .img-caption .desc h3 {
		font-size:20px;
		margin-bottom:0;
	}

	.portfolio .item.element-3 .img-caption .desc p {
		font-size:13px;
	}

	.portfolio .item.element-3 .img-caption .desc span {
		margin-top:3%;
	}

	.portfolio-control {
		float:none;
		margin-left:auto;
		margin-right:auto;
		margin-top:15px;
		width:147px;
	}

	.qoute h4 {
		font-size:19px;
	}

	.recent-work .item .img-caption .desc {
		padding:5%;
	}

	.recent-work .item .img-caption .desc h3 {
		font-size:20px;
		margin-bottom:0;
	}

	.recent-work .item .img-caption .desc p {
		font-size:13px;
	}

	.recent-work .item .img-caption .desc span {
		margin-top:3%;
	}

	.related-posts .item {
		margin-right:0;
		width:100%;
	}

	.related-posts .item img {
		height:165px;
		width:100%;
	}

	.services.style-1 .item {
		margin-bottom:35px;
	}

	.services.style-1 .item .circle {
		margin-bottom:17px;
	}

	.services.style-1 .item h3 {
		margin-bottom:3px;
	}

	.services.style-2 {
		text-align:center;
	}

	.services.style-2 .circle {
		float:none;
		margin:0 auto;
		margin-bottom:15px;
	}

	.services.style-2 .data {
		float:none;
		width:100%;
	}

	.services.style-3 {
		text-align:center;
	}

	.services.style-3 .circle {
		float:none;
		margin:0 auto;
		margin-bottom:15px;
	}

	.services.style-3 .data {
		float:none;
		width:100%;
	}

	.sidebar .widget .text-search {
		width:80%;
	}

	.slidecontrols li a.carousel1-next {
		position:absolute;
		right:0;
		top:0;
	}

	.slidecontrols li a.carousel1-prev {
		position:absolute;
		right:34px;
		top:0;
	}

	.slidecontrols li a.carousel2-next {
		position:absolute;
		right:0;
		top:0;
	}

	.slidecontrols li a.carousel2-prev {
		position:absolute;
		right:34px;
		top:0;
	}

	.slidecontrols li a.carousel3-next {
		position:absolute;
		right:0;
		top:0;
	}

	.slidecontrols li a.carousel3-prev {
		position:absolute;
		right:34px;
		top:0;
	}

	.slidecontrols li a.carousel4-next {
		position:absolute;
		right:0;
		top:0;
	}

	.slidecontrols li a.carousel4-prev {
		position:absolute;
		right:34px;
		top:0;
	}

	.slider-1 .loading {
		min-height:135px;
	}

	.slider-1 .slides li .contain {
		min-height:135px;
	}

	.slider-1 .slides li .item {
		max-width:45%;
	}

	.slider-1 .slides li .item .video-wrap {
		min-height:95px;
		min-width:115px;
	}

	.slider-1 .slides li .links {
		display:none;
		max-width:140px;
		min-width:140px;
	}

	.slider-1 .slides li h2 {
		font-size:15px;
		line-height:20px;
		max-width:140px;
		min-width:140px;
	}

	.slider-1 .slides li p {
		display:none;
		max-width:140px;
		min-width:140px;
	}

	.slider-2 .loading {
		min-height:357px;
	}

	.slider-2 .slides li .contain {
		min-height:357px;
	}

	.slider-2 .slides li .links {
		padding:0;
		width:100%;
	}

	.slider-2 .slides li h2 {
		margin-bottom:76px;
		padding:0;
		width:100%;
	}

	.slider-2 .slides li h2 span {
		font-size:18px;
		line-height:45px;
		padding:5px;
	}

	.slider-2 .slides li p {
		font-size:14px;
		padding:0;
		width:100%;
	}

	.subscribe input.mail {
		margin-bottom:10px;
		margin-right:0;
		width:89%;
	}

	.subscribe input.submit {
		width:99%;
	}

	.team .item {
		min-height:391px;
	}

	.testimonial-item .author {
		margin-left:57px;
	}

	.testimonials-arrow {
		margin-left:15px;
	}

	.top-bar {
		min-height:0;
		padding:3px 0;
	}

	.top-bar .slidedown {
		display:none;
	}

	.welcome {
		font-size:23px;
		padding:30px 5%;
		text-align:left;
	}

	.welcome-text {
		font-size:20px;
	}

	.widget .followers li {
		margin:10px 30px;
	}

	body.under-construction .content {
		height:488px;
		padding:75px 0;
	}

	body.under-construction .content .block {
		height:65px;
		margin:0 5px;
		margin-bottom:20px;
		padding:25px 0;
		width:115px;
	}

	body.under-construction .content h2.title {
		font-size:27px;
	}

	body.under-construction .content input.subscribe-button {
		margin-bottom:35px;
		width:98%;
	}

	body.under-construction .content input.subscribe-text {
		margin-bottom:15px;
		margin-left:0;
		margin-right:0;
		width:87%;
	}

	body.under-construction .content p.text {
		font-size:18px;
	}

	footer .footer-top .widget {
		margin-bottom:25px;
	}

	footer .social {
		float:none;
		text-align:center;
	}

	footer .social a {
		margin:0 0 0 10px;
	}

	footer h3.title {
		margin-bottom:10px;
	}

	h3.title {
		font-size:23px;
	}

	header .search form {
		margin:0 0 30px;
	}

	header .social {
		float:none;
		margin-bottom:14px;
		text-align:center;
	}

	header .widget .text-search {
		width:80%;
	}

	header.style-3 #menu > a {
		float:none;
		margin:10px auto;
	}

	header.style-3 #menu > ul {
		right:0;
		top:51px;
	}

	span.copyright {
		line-height:24px;
		margin-bottom:11px;
		text-align:center;
	}
}