/* global/content/instruction */

/* Selectors
-------------------------------------- */
section{
	.annotation-container {
	  position: absolute;
	  transform: translate(-50%, -50%); //Allows for positioning from
	  top:50%;
	  bottom: 50%;
	  left: 50%;
	  right:50%;
	  width: 1024px;
	  height: 880px;
	  background:   url('http://farm4.staticflickr.com/3054/2724885374_742acd12ca_b.jpg') no-repeat;
	  background-position: 50% 50%;
	  margin: 0 auto;
	  box-shadow: 0 0 300px 0px rgba(0,0,0,0.5);
	}

	.header {
	  position: absolute;
	  transform: translate(-50%, -50%); //Allows for positioning from
	  top: 50px;
	  left: 50%;
	  right:50%;
	  width: 1024px;
	  height:60px;
	  margin: 0 auto;
	  color: rgba(255, 255, 255, .8);
	  background: black;
	    
	  text-transform: uppercase;
	  .control-panel{
	    display: table;
	    li{
	      display: table-cell;
	      vertical-align: middle;
	      line-height: 60px;
	      padding: 0px 15px;
	      .toggle-annotations{
	        &:checked ~ span{
	          visibility:hidden;
	        }
	      }
	      .toggle-colors{
	        &:checked ~ span{
	          color: toggleColors();
	        }
	      }
	    }
	  }
	}

	/* Pointer Lines */
	.left {
	  @include pointer("left");
	}
	.left-up {
	  @include pointer("left-up");
	}
	.up-left {
	  @include pointer("up-left");
	}
	.up {
	  @include pointer("up");
	}
	.up-right {
	  @include pointer("up-right");
	}
	.right-up {
	  @include pointer("right-up");
	}
	.right {
	  @include pointer("right");
	}
	.right-down {
	  @include pointer("right-down");
	}
	.down-right {
	  @include pointer("down-right");
	}
	.down {
	  @include pointer("down");
	}
	.down-left {
	  @include pointer("down-left");
	}
	.left-down {
	  @include pointer("left-down");
	}

	// Annotation Initialization
	// --------------------------------------- 
	.annotation-one {
	  @include annotation(220, -80);
	}

	.annotation-two {
	  @include annotation(505, 65);
	}

	.annotation-three {
	  @include annotation(-50, 535);
	}


	.annotation-four {
	  @include annotation(385, 680);
	}

}