---
layout: modal
---

<section>
	<div class="annotation-container">
		<div class="header">
    		<ul class="control-panel">
      			<li class="ynAnnotations">
        			<label><input type="checkbox" class="toggle-annotations" /><span> Toggle Annotations</span></label>
      			</li>
      			<li><label><input type="checkbox" class="toggle-colors" /><span> Invert Colors</span></label></li>
      			<li></li>
    		</ul>
  		</div>

  		<!-- The Demo Annotations -->
		<div class="annotation-one down-right">
			<div class="endpoint"></div>
			<p>Annotations are created by simply calling the @annotation mixin within a selector and defining the pointer orientation.</p>
		</div>

		<div class="annotation-two up">
			<div class="endpoint"></div>
			<p>Possible pointer orientations are: left, left-up, up-left, up, up-right, right-up, right, right-down, down-right, down, down-left, left-down.</p>
		</div>

		<div class="annotation-three down">
			<div class="endpoint"></div>
			<p>Annotations are comprised of four parts. 1) the annotation, 2) a x-line, 3) a y-line and 4) an end-point style.</p>
		</div>

		<div class="annotation-four up-left">
			<div class="endpoint"></div>
			<p>It's not mobile friendly at this time. I'm still brainstorming how that may work. maybe convert the annotations to a list</p>
		</div>
		<!-- The Demo Annotations -->
	<div>
</section>