---
layout: default
---
<article class="post">
  <header>
    <h1>{{ page.title }}</h1>
    <p class="meta"><i class="icon-entypo-user lighten-text">&nbsp;</i> {{ page.author }} &nbsp;&nbsp;<i class="icon-entypo-clock lighten-text">&nbsp;</i> <time datetime="{{ page.date | date: '%B %d, %Y' }}" title="{{ page.date | date: '%B %d, %Y' }}">{{ page.date | date: '%B %d, %Y' }}</time></p>
  </header>

  <div class="article-hero">
    <img style="margin-bottom:26px" src="{{page.image}}">
  </div>

  <div class="article-content">
    {{ content }}
  </div>

  <footer>
  	{% if page.previous %}
	    <div class="footer-col"><a rel=prev href="{{ page.previous.url }}">&larr; Prev Article</a></div>
	  {% endif %}
	  {% if page.next %}
	    <div class="footer-col"><a rel=next href="{{ page.next.url }}">&rarr; Next Article</a></div>
	  {% endif %}

	  {% if page.categories.size > 0 %}
	    <div class="footer-col">{% include widgets/pageCategoryList.html %}</div>
	  {% endif %}
    {% if page.tags.size > 0 %}
      <div class="footer-col">{% include widgets/pageTagList.html %}</div>
    {% endif %}
  </footer>
</article>


