---
layout: default
---
<article class="post">
  <!--<div class="article-hero">
    <img style="margin-bottom:26px" src="{{page.image}}">
  </div>-->

  <header style="background-image:url('{{page.image}}');">
    <div class="title">
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}
        <p>{{ page.subtitle }}</p>
      {% endif %}
      <p class="meta"><i class="fa fa-clock-o">&nbsp;</i> <time datetime="{{ page.date | date: '%B %d, %Y' }}" title="{{ page.date | date: '%B %d, %Y' }}">{{ page.date | date: '%B %d, %Y' }}</time></p>
    </div>
  </header>

  <div class="article-content">
    <div class="paragraph-measure">
      {{ content }}
    </div>
  </div>

  <footer>
  	{% if page.previous %}
	    <div class="footer-col"><a rel=prev href="{{ page.previous.url }}">&larr; Prev Article</a></div>
	  {% endif %}
	  {% if page.next %}
	    <div class="footer-col"><a rel=next href="{{ page.next.url }}">&rarr; Next Article</a></div>
	  {% endif %}

	  {% if page.categories.size > 0 %}
	    <div class="footer-col">{% include widgets/pageCategoryList.html %}</div>
	  {% endif %}
    {% if page.tags.size > 0 %}
      <div class="footer-col">{% include widgets/pageTagList.html %}</div>
    {% endif %}
  </footer>
</article>


