// Long Form
@mixin transition($properties: all .25s ease-in) {
	-webkit-transition: $properties;
	-moz-transition: $properties;
	-o-transition: $properties;
	-ms-transition: $properties;
	transition: $properties;
}

// Usage -----
// a:hover{
//		background: red;
//		@include transition(all .5s ease-in); }
// }