// Short Form
@mixin box-shadow($argument) {
  @include vendor-prefix(box-shadow, $argument);
}
// Long Form
@mixin box-shadow($first, $second:null) {
   @if $second != null {
      -webkit-box-shadow:$first,$second;
      -moz-box-shadow:$first,$second;
      box-shadow:$first,$second;
   } @else {
      -webkit-box-shadow:$first;
      -moz-box-shadow:$first;
      box-shadow:$first;
   }
}